@charset "UTF-8";

body{margin: 0; color: #333; background-color: #fff;}
	
/*misc*/
.clearfix:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
   overflow: hidden;
}
 
html[xmlns] .clearfix {
   display: block;
}
 
.clearfix {
   height: 0;
   clear: both;
   overflow: visible;
}

a.dd,.dd{
	text-decoration: none;
	border-bottom: 1px dashed #000;
	cursor: pointer;
}

a.un{
	text-decoration: underline;
}

a{
	cursor: pointer;
	color: #333;
	text-decoration: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

a:hover{
	text-decoration: none;
	color:#238c00
}

.hidden{display: none;}
.ws{white-space: nowrap;}
.wb{word-wrap: break-word;}
.t-center{text-align: center;}
.t-right{text-align: right;}
.t-under{text-transform: uppercase;}
.left{ float: left;}
.right{ float: right;}
.hhdi{margin-top: 5px;}
.hdi{margin-top: 15px;}
.di{margin-top: 25px;}
.b-indent{margin-bottom: 15px;}
.s1-indent{margin-left: 185px;}
.bb-indent{margin-bottom: 25px;}
.mLeft10{margin-left: 10px;}
.c-black{ color: #000;}
.c-red{ color: #cb2026;}
.c-grey{ color: #999;}
.green{ color: #009900;}
.media-hr{
	display: none;
	height: 1px;
	width: 100%;
	margin: 5px 0;
	background: #828282;
}


/**/
html, body, #bg-main, #bg-main table, #bg-main td {
	width: 100%;
	height: 100%;
}
#bg-main .bg.bg-panoram {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
#bg-main .bg-panoram > img {
	position: absolute;
	height: 100%;
	right: 0;
}
#bg-main .bg {
	position: absolute;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
}
#bg-main td {
	vertical-align: middle;
	text-align: center;
}
#bg-main img {
	margin: 0 auto;
	display: block;
	/*max-width: 100%;
	max-height: 50%;*/
}

#bg-main nav, .org-nav nav, footer nav{
	position: absolute;
	top: 20px;
	left: 50%;
	margin-left: -14em;
	width: 30em;
	text-align: center;
}

.close-question{
	color: red!important;
}

#bg-main nav a,.org-nav nav a, .media-main-nav a, footer nav{
	font-family: 'MuseoSansCyrl-100', Arial;
	font-size: 14px;
	text-transform: uppercase;
	border: 2px solid transparent;
	color: #fff;
	border-radius: 15px;
	padding: 5px 10px;
}
.org-nav nav {
	top: 4px;
}
.org-nav nav a{
	font-weight: 700;
	color: #000;
}
#bg-main nav a:active,#bg-main nav a:hover{
	border-color: #fff;
}
.org-nav nav a:hover{
	border-color: #999;
}

#bg-main .inside{
	position: relative;
	margin-top: -35%;
	z-index: 9;
}

#bg-main .btn, #bg-main a, #bg-main .main-w, #bg-main{
	color: #fff;
}
.logo{
	font-family: 'MuseoSansCyrl-700', Arial;
	text-transform: lowercase;
	font-size: 22px;
}
#bg-main .logo{
	position: absolute;
	top: 12px;
	left: 10px;
}

#bg-main .sign-in{
	font-family: 'MuseoSansCyrl-100', Arial;
	text-transform: uppercase;
	font-size: 14px;
	position: absolute;
	top: 20px;
	right: 10px;
}

#bg-main .main-w h1{
	margin-bottom: 10px;	
}

#bg-main .main-w span{
	display: block;
	font-size: 16px;
	text-transform: lowercase;
}
#bg-main .main-w{
	font-family: "MuseoSansCyrl-100", Arial;
	font-size: 5em;
	padding-top: 3em;
	padding-bottom: 3em;
	margin: 0 auto 0.6em auto;
	color: #fff;
	text-align: center;
}
.media-main-nav, .media-cat{
	display: none;
	padding: 10px;
	background: #fff;
	border-bottom: 1px solid #e2e2e2;
	background: #f5f5f5;
}
.media-main-nav a{
	color: #000;
	border: none;
}

header.log-in .logo{
	padding-right: 25px;
	/*background: url(../img/login.png) 100% 65% no-repeat;*/
}

header.log-in .inside{
	position: relative;
}
header.log-in{
	background: #F5F5F5;
	border-bottom: 1px solid #ddd;
}
header.log-in{
	padding: 12px 0;
	line-height: 28px;
}

header #bg-main{
	position: relative;
	padding-top: 35%;
	overflow: hidden;
	text-shadow: 0 0 5px rgba(0,0,0,.3);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-height: 580px;
}

section,.inside{
	max-width: 1040px;
	min-width: 360px;
	*width: 1040px;
	margin: 0 auto;
	padding: 0 10px;
}



.navigate a.active{
	color: #238c00;
	border-bottom: 1px solid;

	padding-bottom: 15px;
}
.navigate a{
	font-family: 'MuseoSansCyrl-700', Arial;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	margin-right: 20px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
}
#page-layout .post-edit .navigate.fixed{
	max-width: 620px;
}
#main-layout .navigate.fixed{
	max-width: 845px;
}
#page-layout .navigate.fixed{
	max-width: 830px;
}


.navigate.fixed{
	width: 100%;
	box-shadow: 0 6px 5px -4px rgba(0,0,0,.1);
}
.navigate{
	margin-left: 195px;
	height: 45px;
	line-height: 45px;
	/*-webkit-transition: margin 0.5s ease;
	-moz-transition: margin 0.5s ease;
	transition: margin 0.5s ease;*/
	border: solid #e2e2e2;
	border-width: 0 0 1px 1px;
	padding-left: 20px;
	background: #fff;
    border-left: 0;
}

.navigate.fixed, .left-side.fixed , .postinfo.fixed{
	position: fixed;
	top: 0;
	z-index: 10;
}

#main-layout .navigate,.m-page .navigate{
	border-left: 0;
	padding-left: 0;
}
#main-layout article{
	padding-left: 0;
}

.interviewQueue article {
  border-left: 0;
}

.postinfo .btn{
	color: #238C00;
}
.postinfo img{
	margin: 0 20px 20px 0;
}
.postinfo img,.usr-ic{
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	width: 100px;
	height: 100px;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	transition: all 0.5s ease;
}
.postinfo{
	width: 195px;
	padding-top: 15px;
	padding-right: 15px;
	float: left;
	color: #a7a7a7;
	font-family: 'MuseoSansCyrl-100', Arial;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
	position: relative;
}
.usr-name,
.p-label{
	text-transform: uppercase;
	padding-bottom: .5em;
}
.usr-name{
	color: #238C00;
	position: relative;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.editable i{
	background: url(../img/spr.png) -94px -32px no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	cursor: pointer;
	margin-left: 5px;
}
.s-label{
	font-size: 14px;
	font-weight: normal;
	text-transform: lowercase;
	padding-left: 10px;
	white-space: nowrap;
	color: #238C00;
}
.p-label,.post-date{
	color: #777;
}
.post-date{
	font-size: 14px;
	font-weight: normal;
	white-space: nowrap;
}

.media-pub{
	color: #ddd;
	font-size: 14px;
	font-family: 'MuseoSansCyrl-100', Arial;
	display: none;
	font-weight: normal;
	margin-top: 10px;
}
.like-title{
	position: relative;
	padding-right: 100px;
	display: inline-block;
	*display: inline;
	zoom: 1;
	*width: 90%;
	width: 100%;
	box-sizing: border-box;
}
.like-title .like-this{
	top: 0px;
}
.like-this {
	position: absolute;
	top: 15px;
	right: 10px;
	height: 38px;
	display: block;
	padding-left: 55px;
	padding-top: 10px;
	color: #238C00;
}
.q-post{
	position: relative;
	display: block;
	height: 38px;
	padding-left: 55px;
	padding-top: 10px;
	color: #238C00;
}
.like-this i,.q-post  i{
	background: url(../img/spr.png) 0 0 no-repeat;
	width: 48px;
	height: 48px;
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	margin-top: -24px;
}
.q-post i{
	width: 46px;
}
.like-this span,.q-post span{
	display: block;
	color: #ddd;
}

#main-layout article{
	border-left: none;
}
#main-layout{
	padding-bottom: 20px;
}

.q-post{
	height: 33px;
	padding-top: 15px;
	font-size: 16px;
}
.q-post i{
	background-position: -48px 0;
}
.left-side{
	width: 195px;
	float: left;
	background: #fff;
}
article .hr{
	margin-left: -20px;
}
#page-layout .postinfo{
	padding-right: 0;
}
.left-side ~ article,  article{
	border-left: 1px solid #ddd;
	padding-left: 20px;
}
.postinfo ~ #queue,.left-side ~ article, .left-side + .right-side{
	margin-left: 195px;
}

article .btn{
	color: #238C00;
}
article .hr{
	padding-bottom: 0;
}
article h1{
	margin-bottom: 10px;
}

.content{
	font-size: 1.3em;
	line-height: 1.6em;
	padding-top: 1em;
	-webkit-transition: margin .5s ease;
	-moz-transition: margin .5s ease;
	transition: margin .5s ease;
}

.content p{
	padding-bottom:  1em;
}

.content img{
	width: 100%;
}

.content .quotes{
	border-left: 2px solid #238C00;
	padding: 5px 15px;
	font-family: 'MuseoSansCyrl-100Italic', Arial;
	margin-bottom: 1em;
}

#page-layout .left-side ~ article .q-box,
#page-layout .postinfo ~ article .q-box{
    padding-left: 20px;
    margin-left: -20px;
}

.q-box{
	border: solid #e2e2e2;
	border-width: 1px 0;
	padding: 15px 0;
	position: relative; 
}
article{
	padding-top: 20px;
}
article, .m-page .navigate{
	max-width: 845px;
	margin: 0 auto;
}
.m-page .navigate.fixed {
	left: 50%;
	margin-left: -424px;
	max-width: 845px;
}
.m-page article .hr{
	margin-left: 0;
}

article.cat-title p{
	font-size: 18px;
	color: #ddd; 
	font-family: 'MuseoSansCyrl-100', Arial;
}
article.cat-title h1,article.cat-title h2,article.cat-title h3, article.cat-title h4{
	text-transform: uppercase;
}
article.cat-title{
	font-family: 'MuseoSansCyrl-700', Arial;
	color: #000;
}

.my-nav > a:hover + nav,.my-nav:hover > a + nav,.my-nav.active > a + nav{
	display: block;
}
.my-nav nav a{
	display: block;
	padding: 2px 10px;
	border-top: 1px solid #ddd;
	font-family: 'MuseoSansCyrl-100', Arial;
	font-size: 14px;
}
.my-nav nav{
	background: #f7f7f7;
	display: none;
	border: solid #ddd;
	border-width: 0 1px 1px;
	margin-left: -30px;
}
.my-nav > a img{
	width: 30px;
	height: 30px;
	display: block;
	position: absolute;
	z-index: 2;
	left: -30px;
}
.my-nav > a span{
	color: #fff;
	padding: 10px;
}
.my-nav > a{
	display: block;
	text-align: right;
	line-height: 30px;
	color: #fff;
	position: relative;
}
.my-nav{
	display: block;
	position: absolute;
	right: 10px;
	top: 50%;
	margin-top: -15px;
	height: 30px;
	background: #2c8b00;
	z-index: 9;
}

.nav-cat a:hover{
	color: #238C00;
}
.nav-cat a{
	display: block;
	color: #c3c3c3;
	padding: 6px 10px;	
	font-family: 'MuseoSansCyrl-100', Arial;
	font-size: 14px;
	margin: 10px 0;
}
.nav-cat a.active{
	color: #238C00;
	font-weight: bold;
}

.d-box div + div{
	float: right;
}
.d-box div{
	float: left;
	width: 45%;
}

.bottom-toolbar{
    padding: 30px 0;
}


article .usr-ic ~ .content{
	margin-left: 145px;
}
article .usr-ic{
	float: left;
	margin: 20px;
}

footer nav {
	top: 0;
	padding: 0;
}
footer nav a{
	margin-left: 15px;
	color: #777;
}
footer .inside{
	position: relative;
	line-height: 22px;
}
footer{
    display: none;
	position: absolute;
    bottom: 0;
    width: 100%;
	z-index: 11;
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
	padding: 10px 0;
	font-family: 'MuseoSansCyrl-100', Arial;
	text-transform: uppercase;
	color: #777;
}
