<h3>
    <a>{{question.caption}}</a>
        {{#if question.answer}}
            <i data-permission="authororized" id='editButton' class='pencil'></i>
        {{/if}}
    <span class='post-date'>{{question.date}}</span>
    {{#ifnot question.answer}}
    <div id='buttons'>
        <div id='editButton' class='btn'>ответить</div>
        <div id='declineButton' class='btn-danger'>удалить</div>
    </div>
    {{/ifnot}}
</h3>
<div class="content">
    <p>{{question.answer}}</p>
</div>
<div class="hr"></div>