<div class='auth-area'>
    <div class="di"><input type="text" placeholder="Заголовок интервью" id="caption" value='{{post.caption}}'></div>
    <div class="di">
        <select>
            <option>Computers</option>
            <option>Economy</option>
            <option>Art</option>
            <option>Science</option>
            <option>Manufactory</option>
            <option>Museums</option>
            <option>Airplanes</option>
            <option>Hand made with love</option>
            <option>Hobbies</option>
            <option>House riding</option>
            <option>Racing sports</option>
            <option>Olympic sports</option>
        </select>
    </div>
</div>

<div id="list"></div>

<div class='auth-area' data-permission="author">
    <div id = 'new'></div>
</div>
