<header class="log-in">
</header>
    <section id="page-layout">
        <nav class="navigate">
            <a id="toStories">Stories</a>
            <a class="active"  id="toAnswers">Answers</a>
        </nav>
        <div class="postinfo" id="authorInfo">
        </div>
        <div id="queue">
        </div>

    </section>
<footer>
</footer>

