<header class="log-in">
</header>
<section id="page-layout">
    <div class="postinfo" id="authorInfo">
    </div>
    <div id="queue" class='post-edit'>
    </div>

</section>
<footer>
<footer>
</footer>

