<div class="di">
    <h3>заголовок:</h3>
    <input type='text' placeholder="Название истории"/>
</div>

<div class="di">
    <h3>отрасль:</h3>
    <select data-field="categoryId">
        {{#each categories}}
        <option id='{{@key}}'
        {{#equals @key ../model.categoryId}}
        selected="selected"
        {{/equals}}
        >{{this}}</option>

        {{/each}}
    </select>
</div>


<div class='content'>
    <a class="btn" data-send-button>Отправить!</a><a  class="mLeft10" data-to-mode="passive">Отмена</a>
</div>
