app/config/test/parameters.yml
app/config/dev/parameters.yml

#vendors
vendor/

#node modules
node_modules/

#all compiled js files
frontend_src/js/

frontend_src/img/avs/

#IDE files
.idea/

#cache
app/cache/
app/logs/
