app/config/test/parameters.yml
app/config/dev/parameters.yml

app/bootstrap.php.cache
app/config/prod/parameters.yml
passwd.txt


#vendors
/vendor/

#IDE files
.idea/

#cache
app/cache/
app/logs/

#node modules
node_modules/
frontend_src/upload/
frontend_src/assets/source_html_files/
upload/
