ul li{list-style:none; padding:0; margin:0}
input[type="button"],input[type="submit"]{border:none; outline:none; cursor:pointer;}
*:focus, a:focus,input:focus,img:focus,button:focus,select:focus{outline:none}
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner{ border : 0px}
input[type="submit"]:focus, input[type="button"]:focus{ outline : none}

[type="button"],[type="submit"]{
	cursor: pointer;
	padding-bottom: 3px;
}
[type="button"]:active,[type="submit"]:active{
	box-shadow: inset 0 0 5px #000;
}
[type="search"]:active,[type="text"]:active,[type="password"]:active,
[type="search"]:focus,[type="text"]:focus,[type="password"]:focus{
	color: #000;
}
textarea{
	min-height: 150px;
}
textarea.big{
	min-height: 450px;
}

textarea.needShow{
	min-height: 0;
	height: 150px;
}

[type="search"]:focus,[type="text"]:focus,[type="password"]:focus, textarea:focus{
	box-shadow: inset 0 0 5px rgba(0,0,0,.2);
}

[type="search"].error +div,[type="text"].error +div,[type="password"].error +div, textarea +div, [type="date"].error +div, select.error +div,textarea.error +div{
	color: red;
}
[type="search"].error,[type="text"].error,[type="password"].error, textarea, [type="date"].error, select.error,textarea.error{
	border: 1px solid red;
}
[type="search"],[type="text"],[type="password"], textarea, [type="date"], select, .select, .selectBox p{
	border: none;
	font-family: 'MuseoSansCyrl-100', Arial;
	font-size: 15px;
	/* padding: 3px 7px; */
	color: #999;
	resize: none;
	margin: 0;
	width: 100%;
	padding: 14px 10px;
	background-color: #ddd;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
  	display: block;
}

.selectBox{ margin: 10px 0 20px; }

.select label{ display: block; padding: 3px 10px; cursor: pointer; }
.select label.multiselect-on, .select label:hover{ background: #D5D5D5; }

.selectBox p{ padding: 10px 10px; cursor: pointer; background: #ddd url(../img/select_arrow.png) 98% no-repeat; }
.selectBox p:focus{ box-shadow: inset 0 0 5px rgba(0,0,0,.2); }
.selectBox p.error{ border: 1px solid red; }

.select{ padding: 5px 0; border-top: 1px solid #999; height: 150px; overflow: auto;}



[type="file"]{
	/* display: none; */
}


[type="text"].search{
	width: 180px;
	border-radius: 15px;
	background: #f7f7f7; 
	border: 1px solid #ddd;
	padding: 10px;
}

[type="checkbox"]{
	margin: 0 5px 0 0;
	position: relative;
	top: 2px;
}

::selection { background: rgba(0,0,0,.3); color: #fff;}
::-moz-selection { background: rgba(0,0,0,.3);  color: #fff;}


a,.btn{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.login-btn:hover, .btn:hover{
	opacity: .5;
	filter: alpha(opacity=50);
}

.login-btn{
	font-family: 'MuseoSansCyrl-100', Arial;
	font-size: 12px;
	line-height: 38px;
	text-transform: uppercase;
	padding: 0 20px;
	background: #999999;
	width: 100%;
	*width: 100%;
	display: block;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
	color: #fff!important;
	height: 38px;
}

.login-btn.twt{
	background: #28b9dd;
}

.login-btn.fb{
	background: #0f66aa;
}

.regbtn{
	font-family: 'MuseoSansCyrl-700', Arial;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	color: #238C00;
	border: 2px solid #238C00!important;
	padding: 10px 30px;
	width: 87%;
	background: #fff;
	text-align: center;
	cursor: pointer;
	width: 100%;
}

.btn{
	font-family: 'MuseoSansCyrl-700', Arial;
	font-size: 14px;
	line-height: 14px;
	text-transform: uppercase;
	border: 2px solid;
	color: #238C00;
	border-radius: 30px;
	padding: 10px 30px;
	-webkit-transition: opacity .2s ease;
	-moz-transition: opacity .2s ease;
	transition: opacity .2s ease;
	display: inline-block;
	*display: inline;
	zoom: 1;
}

.hr{
	border-top: 1px solid #e2e2e2;
	margin-top: 1em;
	padding-bottom: 1em;
	background: transparent;
}

.barrier{
	display: none;
	background-image: url(../img/barrier.png);
	position: fixed;
	box-shadow: inset 0 0 50px rgba(0,0,0,.5);
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 101;
}

.barrier .p-box{
	background-color: #fff;
	padding: 20px 30px;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
  	box-sizing: border-box;
	box-shadow: 0 0 10px rgba(0,0,0,.5);
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 102;
}

.p-box{
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	transition: all .3s ease;
}
.p-box.login{
	display: none;
	width: 660px;
	height: 300px;
	margin: -150px -330px;
}
.p-box.message{
	display: none;
	max-width: 660px;
	min-height: 100px;
	margin: -100px -330px;
}

.p-box.login p{ color: red; display: none; margin-bottom: -26px; }


.p-box.login a{
	white-space: nowrap;
}

.p-box.login .connect{
	margin-top: 25px;
	width: 45%;
	float: left;
	color: #777;
}

.p-box.login .connect + .connect{
	float: right;
	position: relative;
}

.p-box.login .connect + .connect:before{
	content: '';
	width: 1px;
	top: 0;
	bottom: 20px;
	position: absolute;
	left: -12%;
	background: #d2d2d2;
}

.p-box.login .connect .btn{
	color: #238C00;
	margin-left: 10px;
	background: none;
	border: 2px solid;
}
.p-box.login .connect li.last{
	margin-top: 40px;
}
.p-box.login .connect li{
	display: block;
	margin-bottom: 25px;
	line-height: 25px;
}


.register-form{
	max-width: 475px;
	margin: 0 auto;
	*width: 475px;
	padding-bottom: 50px;
}

.post-edit{
	max-width: 620px;
	margin: 0 auto;
	*width: 620px;
	padding-bottom: 50px;
}

.post-edit-tools{
	background: #f3f3f3;
}
.post-edit-tools .item{
	float: left;
	border-right: 1px solid #E2E2E2;
	padding: 0 10px;
	line-height: 30px;
	cursor: pointer;
}
.post-edit-tools .item:active{
	box-shadow: inset 0 0 5px rgba(0,0,0,.3);
}

.a-quertion{
	padding: 20px 0;
	border: solid #E2E2E2;
	border-width: 1px 0;
	margin-top: -1px;
	background: #fff;
	color: #777;
	text-transform: uppercase;
	font-family: 'MuseoSansCyrl-700', Arial;
	display: block;
	font-size: 18px;
}

.a-quertion.active{ color: #238c00; }

.askForm{ margin-bottom: 10px; }

[data-field="interviewCaption"]{ min-height: 120px; }