<header class="log-in">
</header>
<div id = "left"></div>
<div id = "center">
    <article>
        <h3 class="t-center">Edit template questions</h3>
        <div id='queue'></div>
        <div id='new'></div>
    </article>
</div>
<footer>
</footer>

