<header class="log-in"></header>

<div id = "center">
    <article>
        <h3 class="t-center">Изменяйте вопросы и их последовательность</h3>
        <div id='queue'></div>
        <div id='new'></div>
    </article>
</div>

<footer></footer>