<article>

    <div class="p-label">{{model.authorName}}</div>
    <h4 class="p-label">Рейтинг: <a class="green" id='rating'>{{model.likes}}</a></h4>
    <h2><a href="">{{model.caption}}</a></h2>
    <div class="content">
        <p>{{model.preview}}</p>
    </div>
    <div class='content'>
        <a class="btn" id='likeButton'>Лайк</a>
        <a class="btn" id='assignAsDaystoryButton'>Сделать историей дня</a>
    </div>
    <div class="hr"></div>

</article>