<header class="log-in"></header>

    <section id='main-layout'>
        <div id = "center">
            <article>
                <div id='queue'></div>
            </article>
        </div>
    </section>

<footer></footer>