<div class="di t-center">

    <div class = 'a-quertion'>
        <div style='float:left'>{{model.place}}</div>
        <div contenteditable="true" id='text'>{{model.text}}</div>
    </div>

    <div class="btn" data-send-button>Отправить!</div>
</div>