<div class="di t-center">

    <div class = 'a-quertion'>
        <div style='float:left'>1)</div><div id='q' contenteditable="true" data-field='caption'></div>
    </div>

    <div class="btn" data-send-button>Отправить!</div>
</div>