<div class="di t-center element" id='{{model.id}}'>
    <div class = 'a-quertion'>
        {{#if model.place}}
            <div style='float:left'>{{model.place}})</div>
        {{/if}}

        <div contenteditable="false" id='text'>
            {{model.text}}
            <a class='editable'><i  data-to-mode='active'></i></a>
        </div>

    </div>
</div>