<article>

    <div class="content">
        <h4>{{{model.description}}}<a class='editable'><i  data-to-mode='active'></i></a></h4>
        <p>{{{model.text}}}</p>
    </div>

    <div class="hr"></div>

</article>