<!-- redactor configure -->
<link href="css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
<link href="css/bootstrap-responsive.min.css" rel="stylesheet">
<!--<link href="css/font-awesome.css" rel="stylesheet">-->
<!-- redactor configure -->

<header class="log-in"></header>

<section id="page-layout" class="m-page">

    <div class="post-edit">
        <nav class="navigate">
            <a href="#author/{{authorId}}/posts/new/blank" >Написать с нашей помощью</a>
            <a href="#author/{{authorId}}/posts/new" class="active">Написать самостоятельно</a>
        </nav>
        <div id='post'></div>
    </div>

</section>

<footer></footer>
