<div class='barrier'>
    <div class="p-box login auth_login"  style = 'text-align: center'>
        <h3>Напомнить пароль</h3>
            <br>
            <input type="text" placeholder="Введите свой email" data-field="email" value='{{model.email}}'><br>
            <br>
            <div class='content'>
                <a class="btn" id="notify">Напомнить</a>
                <a data-to-mode="active">Уже вспомнил</a>
            </div>

    </div>
</div>