<h3>
    <a><input type='text' value='{{question.caption}}' id='caption'></a>
    <span class='post-date'>{{question.date}}</span>
</h3>
<div class="content">
    <p id="buttons">
        <a class="btn" id="sendButton">Send</a>
    </p>
</div>
<div class="hr"></div>