<div class ='element' id='{{model.id}}'>
    <h3>
        <a>{{model.caption}}</a>
        <a class='editable'><i  data-to-mode='active'></i></a>
        <span class="post-date">{{model.date}}</span>
    </h3>
    <div class="content">
        <p>{{model.answer}}</p>
    </div>
    <div class="hr"></div>
</div>