<header class="log-in">
</header>
    <section id="page-layout">
        <nav class="navigate">
            <a class="active" id="toInterview">Write with our help</a>
            <a id="toPost">Write by yourself</a>
        </nav>
        <div id='queue'>

        </div>
    </section>
<footer>
</footer>

