<h3><input type='text' data-field="caption" value='{{model.caption}}'></h3><br>
<textarea data-field="answer" autofocus>{{model.answer}}</textarea>
<div class="content">
    <p>
        <a class="btn" data-send-button>Ответить</a>
        <a class="btn close-question mLeft10" data-delete-button>Удалить</a>
        <a class="mLeft10" data-to-mode="passive">Отмена</a>
    </p>
</div>
<div class="hr"></div>