<div class='barrier'>
    <div class="p-box login auth_login" style = 'text-align: center'>
        <h3>Напомнить пароль</h3>
        <br><br>
        Напоминание отправлено на ваш email<br><br>
        <a class="btn" id='closeButton'>OK</a>
    </div>
</div>