<div class="content">
        Ваш вопрос отправлен. Он появится в ленте после того, как автор даст на него ответ
</div>
<div class="content">
    <p>
        <a class="btn" data-to-mode='button'>Ок</a>
    </p>
</div>
<div class="hr"></div>
