<header class="log-in">
</header>
    <section id="page-layout">
        <nav class="navigate">
            <a class="active">Stories</a>
            <a>Answers</a>
        </nav>

        <div class="postinfo" id="authorInfo">
        </div>

    </section>
<footer>
</footer>

