{{#if authorized}}
<article class="cat-title">
    <div class="content"><p><a href="#posts/new" class="btn">Write a new post</a></p></div>
    <div class="hr"></div>
</article>
{{/if}}

{{#each posts}}
<article>
    <div class="like-title">
        <span class="like-this"><i></i> 0 <span>likes</span></span>
        <h2><a href="#posts/{{id}}">{{caption}}</a> <span class="post-date">{{data}}</span></h2>
    </div>
    <div class="content">
        <p>{{preview}}</p>
    </div>
    <div class="hr"></div>
</article>
{{/each}}