<article>
    <h3><input type='text' data-field="caption" autofocus></h3>
    <div class="content">
        <p>
            <a class="btn" data-send-button>Отправить</a>
            <a class="mLeft10" data-to-mode="button">Отмена</a>
        </p>
    </div>
    <div class="hr"></div>
</article>