<h3>
    <a><input type='text' value='{{question.caption}}' id='caption'></a>
    <span class='post-date'>{{question.date}}</span>
</h3>
<div class="content">
    <p>
        <textarea id='body'>{{question.answer}}</textarea>
    </p>
    <p id="buttons">
        <a class="btn" id="sendButton">Send</a>
        <a id="declineButton" class="btn close-question mLeft10">Decline</a>
        <a class="mLeft10" id='previewButton'>Preview</a>
    </p>
</div>
<div class="hr"></div>