<div class="a-quertion element" id='{{model.id}}'>
    <h3><a>{{model.caption}}</a><a class='editable'><i  data-to-mode='active'></i></a></h3>
    <div class="content">
        <p>{{model.answer}}</p>
    </div>
</div>