<header class="log-in"></header>

<section id="page-layout" class="m-page">
    <article class="cat-title">
        <nav class="navigate">
            <a data-link='author/{{authorId}}/posts'>Посты</a>
            <a class="active">Вопросы</a>
        </nav>
    </article>

    <div id='new'></div>
    <div id='queue'></div>
</section>

<footer></footer>