<header class="log-in"></header>

<section id="page-layout" class="m-page">

    <div class="post-edit">
        <nav class="navigate">
            <a href="#author/{{authorId}}/posts/new/blank" class="active">Написать с нашей помощью</a>
            <a href="#author/{{authorId}}/posts/new" >Написать самостоятельно</a>
        </nav>

        <div id='queue'>
        </div>

    </div>

</section>

<footer></footer>
