<div class='preview'>
    <article class="lim">
        <div class="like-title">
            <h1>{{model.caption}}</h1>
        </div>
        <div class="content">
            <p>
                {{model.text}}
            </p>
        </div>
        <div class='hr'></div>
        <div class="di t-center">
            <a class="btn" data-send-button>Опубликовать</a>
            <a class="mLeft10" data-to-mode="active">Редактировать</a>
        </div>
        <div class='hr'></div>
    </article>
</div>