<div class = 'question' id='{{question.id}}'>
    <textarea id='{{question.id}}' class='body'>{{question.text}}</textarea>
    <div id="buttons">
        <div id='sendButton' class='btn'>send</div>
        {{#if question.id}}
        <div id='deleteButton' class='btn-danger'>delete</div>
        {{/if}}
    </div>
</div>