<header class="log-in"></header>

<section id="page-layout">

    <div class="postinfo" id="nt">
        <div class="open-area"></div>

        <img src="./_temp/a1.jpg" alt="">
        <h4><a class="usr-name">Yasoon (Ясун)</a></h4>
        <p class="u-description">Любим то, что делаем</p>
        <div class="hr"></div>
        <div class="pub">
            <h4 class="p-label">Сотрудничество</h4>
              <h1 data-managed-content="1"></h1>
            <div class="hr"></div>
        </div>
        <div class="hr"></div>
        <div class="d-box">
            <div><p class="p-label">историй</p> <a href="">{{model.posts}}</a></div>
            <div><p class="p-label">людей</p> <a href="">{{model.people}}</a></div>
        </div>
    </div>

    <article class="lim">
        <div class="like-title">
            <h1 data-managed-content="1"></h1>
        </div>
        <div class="content">
            <p data-managed-content="2"></p>

        </div>
        <div class="bottom-toolbar t-center">
            <a href="#blog" class="btn">Читать блог администрации</a>
        </div>
    </article>


</section>

<footer></footer>