<header class="log-in"></header>

<section id="page-layout">

    <nav class="navigate">
        <a class="active">Новости</a>
        <a href='#blog/questions'>Отзывы</a>
    </nav>
    <div class="postinfo" id="nt">
        <div class="open-area"></div>

        <img src="./_temp/a1.jpg" alt="">
        <h4><a class="usr-name">Блог администрации</a></h4>
        <div class="hr"></div>


        <div class="media-hidden">
            <div class="inner">
                <div class="b-indent">Первый:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="b-indent">Второй:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="b-indent">Третий:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="hr"></div>
            </div>
        </div>
    </div>

    <article class="lim cat-title">
        <div class="content"><p><a class="btn" href='#blog/new'>Написать новый пост</a></p></div>
        <div class="hr"></div>
    </article>

    <div id='queue'>

    </div>

</section>

<footer></footer>