<header class="log-in"></header>

<section id="page-layout">

    <div class="postinfo" id="nt">
        <div class="open-area"></div>

        <img src="./_temp/a1.jpg" alt="">
        <h4><a class="usr-name">Наши контакты</a></h4>
        <p class="u-description">Пишите нам</p>
        <div class="hr"></div>


        <div class="media-hidden">
            <div class="inner">
                <div class="b-indent">Первый:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="b-indent">Второй:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="b-indent">Третий:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="hr"></div>
            </div>
        </div>
    </div>

    <article class="lim">
        <div class="like-title">
            <h1 data-managed-content="1"></h1>
        </div>
        <div class="content">
            <p data-managed-content="2"></p>

        </div>
        <div class="bottom-toolbar t-center">
            <a href="#blog" class="btn">Читать блог администрации</a>
        </div>
    </article>


</section>

<footer></footer>