<header class="log-in"></header>

<section id="page-layout" class="m-page">

    <article class="cat-title">
        <nav class="navigate">
            <a data-link='blog/posts'>Новости</a>
            <a class="active">Отзывы</a>
        </nav>
    </article>

    <div id='new'></div>
    <div id='queue'></div>

</section>

<footer></footer>