<div class='p-box message'>

    <h3>{{caption}}</h3>

    <div class="content">
        <p> {{text}}</p>
    </div>

    <div class="t-center">
        <a class="btn" id='disposeButton'>Ok</a>
    </div>

</div>
