<!--<div class="left aus">© 2013 yasoon</div>-->
<!--<nav>-->
    <!--<a href="">что это</a>-->
    <!--<a href="">пользовательское соглашение</a>-->
    <!--<a href="">блог</a>-->
<!--</nav>-->
<!--<div class="right">-->
<!--</div>-->
<!--<div class="clearfix"></div>-->