<header class="log-in">
    <div class="inside">
        <a class="logo" href="/">yasoon</a>
        <div class="org-nav">
            <nav>
                <a href="">stories</a>
                <a href="">people</a>
            </nav>
        </div>
    </div>
</header>
<section id="page-layout" class="m-page">

    <div class="post-edit">
        <article>
            <h3 class="t-center">404</h3>
            <div class="hr"></div>
        </article>

</section>

<footer>
    <div class="inside">
        <div class="left aus">© 2013 yasoon</div>
        <nav>
            <a href="">About us</a>
            <a href="">Contact us</a>
        </nav>
        <div class="clearfix"></div>
    </div>
</footer>