<a class="logo" href="#">yasoon</a>
<div class="org-nav">
    <nav>
        <a>stories</a>
        <a>people</a>
    </nav>
</div>
<div class="my-nav">
    <a> <img src="./_temp/a1.jpg" alt=""> <span>0</span></a>
    <nav>
        {{#if authorized}}
            <a id='logoutButton'>Log out</a>
        {{else}}
            <a id='loginButton'>Log in</a>
        {{/if}}
    </nav>
</div>