<a class="logo" href="#">yasoon</a>
<div class="org-nav">
    <nav>
        <a>stories</a>
        <a>people</a>
    </nav>
</div>
<div class="my-nav">
    <a> <img src="./_temp/a1.jpg" alt=""> <span>0</span></a>
    <nav>
            <a id='logoutButton' data-permission="authorized">Log out</a>
            <a id='loginButton' data-permission="not-authorized">Log in</a>
    </nav>
</div>