<header></header>

<section id="main-layout">
    <nav class="navigate">
        <a href="#" >История дня</a>
        <a href="#stories" class="active">Лучшие истории</a>
    </nav>

    <div id='queue'>
    </div>
</section>

<footer></footer>