<header class="log-in"></header>

<section id="main-layout" class="m-page">

    <nav class="navigate">
        <a href="">История дня</a>
        <a href="" class="active">Лучшие истории</a>
    </nav>

    <div id='queue'>
    </div>


</section>
<footer></footer>