<article>
    <div class="p-label">{{model.authorName}}</div>
    <h2><a href="">{{model.caption}}</a></h2>
    <div class="content">
        <p>{{model.preview}}</p>
    </div>
    <div class="hr"></div>
</article>