
<!--<div id="bg-main">-->
    <!--<div class="bg bg-panoram" style="background-image: url(_temp/i6.jpg);">bg</div>-->
    <!--<div class="inside">-->
        <!--<a class="logo" href="/">yasoon</a>-->
        <!--<a class="sign-in" href="/">Войти</a>-->
        <!--<div class="main-w">-->
            <!--<p>Лучшее место,  <br>Чтобы читать и рассказывать истории <br>И делиться вдохновением</p>-->
            <!--<a class="btn">Узнать больше</a>-->
        <!--</div>-->
        <!--<nav>-->
            <!--<a href="">Истории</a>-->
            <!--<a href="">Люди</a>-->
        <!--</nav>-->
    <!--</div>-->
<!--</div>-->

    <div id="bg-main">
        <div class="bg bg-panoram" style="background-image: url(_temp/i6.jpg);">bg</div>
        <div class="inside">
            <a class="logo" href="/">yasoon</a>
            <a class="sign-in" href="/">login</a>
            <div class="main-w">
                <p>Лучшее место,  <br>Чтобы читать и рассказывать истории <br>И делиться вдохновением</p>
                <a href="#explore" class="btn">Больше историй</a>
            </div>
            <nav>
                <a href="#explore">профессии</a>
                <a href="#people">люди</a>
            </nav>
        </div>
    </div>
