<header>
    <nav class="media-main-nav">
        <a href="#stories">Истории</a>
        <a href="#people">Люди</a>
        <a href="" class="active">начать</a>
    </nav>
    <div id="bg-main">
        <div class="bg">
            <table cellpadding="0" cellspacing="0">
                <tbody><tr><td><img alt="" src="./_temp/i3.jpg"></td></tr>
                </tbody></table>
        </div>
        <div class="inside">
            <a class="logo" href="/">yasoon</a>
            <a class="sign-in" href="/">Войти</a>
            <div class="main-w">
                <p>У каждого своя история <span>Секреты и философия разных профессий</span></p>
                <a href="" class="btn">Узнать больше</a>
            </div>
            <nav>
                <a href="#stories">Истории</a>
                <a href="#people">Люди</a>
            </nav>
        </div>
    </div>
</header>