<header></header>
<section id="main-layout">
    <nav class="navigate">
        <a href="#" class="active">История дня</a>
        <a href="#stories">Лучшие истории</a>
    </nav>

    <div id='daystory'>
    </div>
</section>
<footer></footer>