<div id="bg-main">
    <div class="bg bg-panoram" style="background-image: url(_temp/i6.jpg);">bg</div>
    <div class="inside">
        <a class="logo" href="/">yasoon</a>
        <a class="sign-in" href="/">login</a>
        <div class="main-w">
            <p data-managed-content="0"></p>
            <a href="#explore/date/0" class="btn">Узнать больше</a>
        </div>
        <nav>
            <a href="explore/date/0">профессии</a>
            <a href="people/0">люди</a>
        </nav>
    </div>
</div>
