<article class="lim">
    <img src="./_temp/a1.jpg" class="usr-ic" alt="">

    <h2><a>пусто</a></h2>

    <div class="content lic">
        <p>К сожалению, на эту тему ещё нет историй</p>
        <p><a href='#register' class='btn'>Напишите свою</a></p>
    </div>

    <div class="hr"></div>
</article>