<header class="log-in"></header>

<section id="page-layout">

    <div class="left-side">
        <div class="di"><input type="text" class="search" placeholder="Поиск2"></div>
        <div class="p-label di"><b>Отрасль</b></div>
        <nav class="nav-cat" id='categories'>
            {{#each categories}}
                <a id='{{@key}}' class='category active' href='#people/{{@key}}'>
                    {{this}}
                </a>
            {{/each}}
        </nav>
    </div>

    <article class="lim cat-title">
        <h3 id='activeCategory'>{{activeCategory}}</h3>
        <p>Истории людей, которые любят то, что делают</p>
        <div class="hr"></div>
    </article>

    <div id='queue'></div>

</section>

<footer></footer>