<div class = 'activePost'>
    <input type='text' class ='activePostCaption' value='{{post.caption}}'/>
    <textarea class ='activePostPreview'>{{post.preview}}</textarea>
    <textarea class ='activePostBody'>{{post.text}}</textarea>
    <div id="sendPostButton">send!</div>
</div>
