<div class = 'activePost'>
    <div class ='activePostCaption'>{{post.caption}}</div>
    <div class ='activePostPreview'>{{post.preview}}</div>
    <div class ='activePostBody'>{{post.text}}</div>
    <div id="sendPostButton">edit</div>
    <div id="deletePostButton">delete</div>
</div>
