<div class = 'activePost'>
    <input type='text' class ='activePostCaption' value='{{post.caption}}' placeholder='caption'/>
    <textarea class ='activePostPreview' placeholder="preview">{{post.preview}}</textarea>
    <textarea class ='activePostBody' placeholder="body">{{post.text}}</textarea>
    <div id="sendPostButton">send!</div>
</div>
