<div class = 'passivePost'>
    <div class ='passivePostCaption'>{{post.caption}}</div>
    <div class ='passivePostBody'>{{post.text}}</div>
    <div id="editPostButton">edit</div>
    <div id="deletePostButton">delete</div>
</div>
