<div class="register-form">
    <form name="register-form">
        <article class="cat-title">
            <h3>Подробная информация</h3>
            <p class="fs c-grey">Создайте свой профиль и напишите истории</p>
            <div class="hr"></div>
        </article>

        <div class="di"><textarea placeholder="Напишите краткую историю о себе" data-field="description"></textarea></div>

        <div class="hr di"></div>

        <article class="cat-title">
            <p class="c-grey">Здесь вы можете описать выбор вашей професии, интересы или мечты будущей работы</p>
        </article>

        <div class="di"><input type="text" placeholder="Ваша работа" data-field="job"></div>
        <div class="di"><input type="text" placeholder="Интересы" data-field="interests"></div>
        <div class="di"><input type="text" placeholder="Мечты" data-field="dreams"></div>
        <div class="di file_upload_block">
            <input id="fileupload" type="file" name="files[]" data-url="api/author/upload_user_image">
            <div class="files_success_upload"></div>
        </div>

        <div class="regbtn di reg_srep2">Завершить</div>
    </form>
</div>