<div class="register-form">
    <form name="register-form">
        <article class="cat-title">
            <h3>Регистрация</h3>
            <p class="fs c-grey">Создайте свой профиль и напишите истории</p>
            <div class="hr"></div>
        </article>

        <div class="di"><input type="text" placeholder="Имя" data-field='name'>
            <div class="hhdi hide-warning data_name">Обязательно для заполнения</div>
        </div>

        <div class="di"><input type="text" placeholder="Фамилия"  data-field='lastName'>
            <div class="hhdi hide-warning data_lastName">Обязательно для заполнения</div>
        </div>

        <div class="di"><input type="text" placeholder="Email"  data-field='email'>
            <div class="hhdi hide-warning data_email">Обязательно для заполнения</div>
            <div class="hhdi"><label> <input type="checkbox" checked="">Подписаться на обновления</label></div>
        </div>

        <div class="di"><input type="password" placeholder="Пароль" data-field="password">
            <div class="hhdi hide-warning data_password">Обязательно для заполнения</div>
        </div>

        <div class="di"><textarea placeholder="Напишите краткую историю о себе" data-field="description"></textarea></div>

        <div class="hr di"></div>

        <article class="cat-title">
            <p class="c-grey">Здесь вы можете описать выбор вашей професии, интересы или мечты будущей работы</p>
        </article>

        <div class="di"><input type="text" placeholder="Ваша работа" data-field="job"></div>
        <div class="di"><input type="text" placeholder="Интересы" data-field="interests"></div>
        <div class="di"><input type="text" placeholder="Мечты" data-field="dreams"></div>

        <div data-send-button class="regbtn di">Завершить регистрацию</div>
    </form>
</div>