<article>
    <img src="./_temp/a1.jpg" class="usr-ic" alt="">
    <h2><a href="">Пусто</a></h2>
    <div class="content lic">
        <p>Ваша лента пуста</p>
        <p><a href='#people' class='btn'>Добавьте интересных людей</a></p>
    </div>
    <div class="hr"></div>
</article>