<article>
    <img src="./_temp/a1.jpg" class="usr-ic" alt="">
    <h4><a href="user.html" class="p-label">{{model.authorName}}</a></h4>
    <h2><a href="">{{model.caption}}</a> <span class="post-date">{{model.date}}</span></h2>
    <div class="content lic">
        <p>{{model.text}}</p>
    </div>
    <div class="hr"></div>
</article>