<header class="log-in"></header>

<section id="page-layout" class="m-page">

    <article class="cat-title">
        <h4>обновления</h4>
        <div class="hr"></div>
    </article>

    <div id='queue'></div>

</section>


<footer></footer>