imports:
    - { resource: security.yml }
framework:
  secret: %secret%
  test: ~
  router: {resource: routing.yml}
  session:
    cookie_lifetime: 604800
    cookie_httponly: false

doctrine:
  dbal:
    default_connection: default
    connections:
      default:
        driver: %db_yasoon_driver%
        host: %db_yasoon_host%
        port: %db_yasoon_port%
        dbname: %db_yasoon_dbname%
        user: %db_yasoon_user%
        password: %db_yasoon_password%
        charset: UTF8

  orm:
    default_entity_manager: default
    entity_managers:
      default:
        connection: default
        mappings:
          YasoonSiteBundle: ~
          
stof_doctrine_extensions:
    default_locale: en_US
    orm:
        default:
            tree: true

jms_di_extra:
  locations:
    all_bundles: false
    bundles: ['YasoonSiteBundle']
    directories: ["%kernel.root_dir%/../src"]

swiftmailer:
#    auth_mode:  login
#    encryption: ssl
#    host:       smtp.gmail.com
#    username: 'parandiy.mihail@gmail.com'
#    password: '123'
    transport: sendmail

