<article>
    <h2><a href="/#speaker/<%= id %>/posts"><%= name %></a></h2>
    <div class="content lic">E-mail: <%= email %></div>
    <div class="content lic">Зарегистрировался: <%= date_reg %></div>
    <div class="t-center">
        <a href="#" class="btn deleteAdmin redBtn">Убрать из администраторов</a>
        <a href="#" class="btn authorDelete">Удалить автора</a>
        <b>Администратор</b>
        <a href="#" class="btn setAdmin">Назначить администратором</a>
    </div>
    <div class="hr"></div>
</article>