<% if(image === null || image === '') { %>
<div class="interview-intro" style="background-image: url('/frontend/img/i6.jpg');">
<% } else { %>
<div class="interview-intro" style="background-image: url('/web/upload/interviews/<%= image %>');">
<% } %>
    <div class="main-w">
	<div class="interview-title">
            <h1><%= title %></h1>
            <p><%= description %></p>
            <a href="#/post/new/<%= id %>" class="btn green">Рассказать на эту тему</a> <br />
            <div class="moderators">
            </div>
        </div>
    </div>  
</div>
<section class="main-layout">
<div class="content">
    <div class="social-likes-post_down">
        <div class="fb-share-button" data-href="https://yasoon.ru/social/interview/<%= id %>" data-layout="button_count"></div>
        <div id="fb-root"></div>
        <div id="vk_share_button"></div>
    </div>
        </div>
    <% _.each(questions, function(question) { %>
        <article questionid="<%= question.question_id %>" class="questionContent question-content">
                <h3 class="questionTitle js-open floating" data-toggle="collapse">
                    <a><%= question.questionText %></a>
                </h3>
                <div class="collapse">
                <% _.each(question.answers, function(answer) { %>
                <article class="margin-top-20">
                    
                    <div class="like-title like-title-interview" data-postId="<%= answer.postId %>">
                        <div class="speaker-avatar speaker-avatar-interview">
                            <a href="#/speaker/<%= answer.authorId %>/posts">
                                <div class="legoImg">
                                    <% if(answer.avatarImg === null) { %>
                                            <img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic-small" alt="<%= answer.authorName %>">
                                    <% } else { %>
                                            <img src="/web/upload/avatar/<%= answer.avatarImg %>" class="usr-ic-small" alt="<%= answer.authorName %>">
                                    <% } %>
                                </div>
                                <div class="legoText">
                                    <%= answer.authorName %>, <%= answer.authorJob %>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="answer_lego_text">
                            <a href="#/post/<%= answer.postId %>" alt="<%= answer.postTitle %>">
                               <%= answer.text %>
                            </a>
                    </div>
                    <div class="like-title like-title-interview" data-postId="<%= answer.postId %>">
                        <span class="like-this like-this-lego">
                            <b><i></i></b>
                            <span class="counter">
                                    <%= answer.post_likes %>
                            </span>
                            <span>вдохновились</span>
                        </span>
                    </div>
                </article>
                <% }); %>
                
                </div>
            <div class="hr"></div>
        </article>
	<% }); %>
        <div></div>
        <div class="social-likes-post_down">
            <div class="fb-share-button" data-href="https://yasoon.ru/social/interview/<%= id %>" data-layout="button_count"></div>
            <div id="vk_share_button_down"></div>
        </div>
</div>
</section>

<script type='text/javascript'>
    window.fbAsyncInit = function() {
        FB.init({
          appId      : '644685618912154',
          xfbml      : true,
          version    : 'v2.1'
        });

      };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    document.getElementById('vk_share_button').innerHTML = VK.Share.button(
       {
           url : 'https://yasoon.ru/social/interview/<%= id %>',
           title: '<%= title %>',
           description: '<%= description %>',
           img: 'https://yasoon.ru/web/upload/interviews/<%= image %>'
       }, 
       {
           type: 'round', 
           text: 'Share'
       }
   );
   document.getElementById('vk_share_button_down').innerHTML = VK.Share.button(
       {
           url : 'https://yasoon.ru/social/interview/<%= id %>',
           title: '<%= title %>',
           description: '<%= description %>',
           img: 'https://yasoon.ru/web/upload/interviews/<%= image %>'
       }, 
       {
           type: 'round', 
           text: 'Share'
       }
   );
   
   $(document).scroll(function() {
      $('article.questionContent').each(function(){
            var top = $(document).scrollTop();
            var topPos = $(this).offset().top;
            var pip = $(this).next().offset().top;
            var height = $(this).outerHeight()
            if ($(this).find('.collapse:visible').length) {
                if (top < pip - 70 && top > pip - height + 20) {

                    $(this).find('.js-open').addClass('question-fix')
                } else {
                    $(this).find('.js-open').removeClass('question-fix')
                }
            }
      });
   });
 </script>
         