<div class="content">
    <% if(options !== '' && options !== 'undefined' && options !== null) { %>
    <div class="interview-title">
        <h2><%= _.getContent(65) %></h2>
    </div>
    <% }; %>
    <ul class="three-columns">
    <% _.each(interviews, function(interview) { %>
    <li>
        <article interviewId="<%= interview.id %>" class="LegoInterviewsList">
            <a href="#/interview/<%= interview.id %>">
                <% if(interview.image === null || interview.image === '') { %>
                <img src="/frontend/img/logo.jpg" alt="" class="interview-lego-small">
                <% } else { %>
                <img src="/web/upload/interviews/<%= interview.image %>" alt="" class="interview-lego-small">
                <% } %>
                <article class="cat-title">
                    <h3><%= interview.name %></h3>
                </article>
            </a>
             <%= interview.timeToRead %> минут чтения | <%= interview.speakers %> спикеров | <%= interview.likes %> вдохновились
        </article>
    </li>
	<% }); %>
    </ul>
        <% if(options !== '' && options !== 'undefined' && options !== null) { %>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">выберите тему <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                    <% _.each(options, function(option) { %>
                        <li><a href="#" class="legoSelectType" data-id="<%= option.id %>"><%= option.type %></a></li>
                    <% }); %>
                    </ul>
                  </li>
                </ul>
              </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <% }; %>
    <div class="filterLegoContainer">
    </div>
</div>