<div class="content">
    <div class="margin-top-20">
        <h2><%= _.getContent(65) %></h2>
    </div>
    <% _.each(interviews, function(interview) { %>
        <article interviewId="<%= interview.id %>" class="LegoInterviewsList">
            <a href="#/interview/<%= interview.id %>">
                <% if(interview.image === null || interview.image === '') { %>
                <img src="/frontend/img/logo.jpg" alt="" class="interview-lego-small">
                <% } else { %>
                <img src="/web/upload/interviews/<%= interview.image %>" alt="" class="interview-lego-small">
                <% } %>
                <h3><%= interview.name %></h3>
            </a>
             <%= interview.timeToRead %> минут чтения | <%= interview.speakers %> спикеров | <%= interview.likes %> вдохновились
        </article>
	<% }); %>
</div>