<% if(image === null || image === '') { %>
<div class="interview-intro" style="background-image: url('/frontend/img/i6.jpg');">
<% } else { %>
<div class="interview-intro" style="background-image: url('/web/upload/interviews/<%= image %>');">
<% } %>
    <div class="main-w">
	<div class="interview-title">
            <h1><%= title %></h1>
            <a href="#/post/new/<%= id %>" class="btn green">Рассказать на эту тему</a> <br />
        </div>
    </div>  
</div>
<section class="page-layout row">
<div class="content">
    <% _.each(questions, function(question) { %>
        <article questionid="<%= question.question_id %>" class="questionContent question-content">
                <h3 class="questionTitle js-open" data-toggle="collapse">
                    <a><%= question.questionText %></a>
                </h3>
                <div class="collapse">
                <% _.each(question.answers, function(answer) { %>
                <article class="margin-top-20">
                    <div class="speaker-avatar">
                            <a href="#/speaker/<%= answer.authorId %>/posts">
                                <div class="legoImg">
                                    <% if(answer.avatarImg === null) { %>
                                            <img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic-small" alt="<%= answer.authorName %>">
                                    <% } else { %>
                                            <img src="/web/upload/avatar/<%= answer.avatarImg %>" class="usr-ic-small" alt="<%= answer.authorName %>">
                                    <% } %>
                                </div>
                                <div class="legoText">
                                    <%= answer.authorName %>, <%= answer.authorJob %>
                                </div>
                            </a>
                    </div>
                    <div class="answer_lego_text">
                        <a href="#/post/<%= answer.postId %>" alt="<%= answer.postTitle %>">
                           <%= answer.text %>
                        </a>
                    </div>
                </article>
                <% }); %>
                </div>
            <div class="hr"></div>
        </article>
	<% }); %>
</div>
</section>