<div class="p-box login">
  <a href="" id="window-close">закрыть</a>
  <h3>Авторизация</h3>
  <div class="connect">
    <ul class="list-unstyled">
      <li>
        <button class="login-btn vk" id="vk-login">Войти через Вконтакте</button>
      </li>
      <li>
        <button class="login-btn fb" id="fb-login">Войти через Facebook</button>
      </li>
      <li class="last">
        <span>Нет аккаунта?</span>
        <a href="#/register/" id="js-register"><b>Вступить в клуб!</b></a>
      </li>
    </ul>
  </div>
  <div class="connect">
    <form role="form">
      <ul class="list-unstyled">
        <li class="form-group">
          <input class="form-control" type="text" placeholder="<%= _.getContent(23) %>" id="email" name="email">
          <span class="help-block"></span>
        </li>
        <li class="form-group">
          <input class="form-control" type="password" placeholder="<%= _.getContent(25) %>" id="password" name="password">
          <span class="help-block"></span>
        </li>
        <li>
          <button class="link" id="forgot-password">Забыли пароль?</button>
          <button class="btn" type="submit">Войти</button>
        </li>
      </ul>
    </form>
  </div>
</div>