<div class="postinfo st">
	<% if(avatarImg === null) { %>
		<img src="/frontend/img/noAvatar.jpg" alt="<%= authorName %>">
	<% } else { %>
		<img src="/web/upload/avatar/<%= avatarImg %>" alt="<%= authorName %>">
	<% } %>
	<h4><a href="#/speaker/<%= authorId %>/posts" class="usr-name"><%= authorName %></a></h4>
	<!-- <p class="u-description">authorDescription</p> -->
	<div class="hr"></div>
	<div class="pub">
		<h4 class="p-label">Опубликовано</h4>
		<%= publishDate %>
		<div class="hr"></div>
	</div>
</div>

<article class="lim">
	<div class="like-title">
		<span class="like-this">
			<b><i></i></b>
			<span class="counter"><%= post_likes %></span>
			<span>вдохновились</span>
		</span>
		<h1><%= title %> <span class="media-pub">опубликовано <%= publishDate %></span></h1>
	</div>
	<div class="content">
    <% _.each(text, function(question) { %>
        <article questionid="<%= question.question_id %>" class="questionContent">
            <h3 class="questionTitle">
                <%= question.text %>
            </h3>
            <div class="question_content">
                <%= question.answer %>
            </div>
        </article>
		<% }); %>
	</div>
	<div class="q-box">
		<span class="like-this">
			<b><i></i></b>
			<span class="counter"><%= post_likes %></span>
			<span>вдохновились</span>
		</span>
	</div>
</article>
