<div class="like-title">
    <span class="like-this-review">
            <b><i></i></b>
            <span class="counter">
                    <%= post_likes %>
            </span>
            <span>вдохновились</span>
    </span>
    <h2>
        <a href="#/review/<%= id %>"><%= title %></a>
        <% if (authorId === window.config.userId) { %>
                <a href="#/review/<%= id %>/edit" class="editable"></a>
        <% } %>
        <span class="media-pub">
            <%= _.getDateText(publishDate) %> | 
            <%= timeToRead %> мин чтения | 
            <label for="rating"><%= _.getContent(104) %> <a href="#/posts/<%= categoryId %>/dateSort" ><%= category %></a> </label>
            <input type="hidden" name="rating" class="ratingSpeaker" 
                data-filled="symbol symbol-filled statistics" 
                data-empty="symbol symbol-empty statistics" 
                readonly="readonly"
                value="<%= rating %>" 
                data-start="0" data-stop="5"/>

        </span>
    </h2>
</div>
<div class="content">
        <article  class="questionContent">
            <div class="question_content">
                <%= description %>
            </div>
        </article>
</div>
<div class="hr"></div>