<div class="speaker-avatar">
	<a href="#/speaker/<%= authorId %>/posts">
		<% if(avatarImg === null) { %>
			<img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic-small" alt="<%= name %>">
		<% } else { %>
			<img src="/web/upload/avatar/<%= avatarImg %>" class="usr-ic-small" alt="<%= name %>">
		<% } %>
                
                <%= authorName %>
	</a>
        <% if (typeof(timeToRead) !== "undefined" && timeToRead > 0) { %>
            | <%= timeToRead %> мин чтения
        <% } else if (timeToRead === 0) { %>
            | 1 мин чтения
        <% } %>
        <% if (typeof(interview_name) !== "undefined" && interview_name !== '') { %>
        | <%= _.getContent(61) %> <a href='/#/interview/<%= interview_id %>'><%= interview_name %></a>
        <% } %>
</div>
<h2>
    <a href="#/post/<%= id %>">
        <% if (typeof(caption) !== "undefined") { %>
        <%= caption %>
        <% } else { %>
        <%= title %>
        <% } %>
    </a>
    <% if (authorId === window.config.userId) { %>
    <a href="#/post/<%= id %>/edit" class="editable"></a>
    <% } %>
</h2>
<div class="content">
    <p>
        <% if (typeof(preview) !== "undefined") { %>
        <%= preview %>
        <% } else { %>
        <%= description %>
        <% } %>
    </p>
</div>

<div class="hr"></div>