<div class="like-title">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>вдохновились</span>
	</span>
	<h1>
		<%= title %>
		<% if (authorId === Window.config.userId) { %>
			<a href="#/post/<%= id %>/edit" class="editable"></a>
		<% } %>
		<span class="media-pub">
			опубликовано <%= _.getDateText(publishDate) %>
		</span>
	</h1>
</div>
<div class="content">
	<%= text %>
</div>
<div class="q-box">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>
			вдохновились
		</span>
	</span>
	<span class="q-post">
		<a href=""><i></i></a> <%= questionCount %> question about this post
	</span>
</div>