<% var reg = (typeof Window.config.regFrom === "undefined" || parseInt(Window.config.regFrom) === 0) ? true : false; %>
<form role="form" class="register-form">
    <% if (reg) { %>
        <fieldset>
            <div class="page-header">
                <h3><%= _.getContent(20) %><br />
                    <small><%= _.getContent(8) %></small>
                </h3>
            </div>
            <div class="di form-group">
                <input type="text" class="form-control" placeholder="<%= _.getContent(22) %>" id="name" name="name">
                <span class="help-block"></span>
            </div>
            <div class="di form-group">
                <input type="text" class="form-control" placeholder="<%= _.getContent(23) %>" id="email" name="email">
                <span class="help-block"></span>
                <div class="di form-group">
                    <div class="hhdi">
                        <input type="checkbox" id="subscribed" name="subscribed">
                        <label for="subscribed"><%= _.getContent(24) %></label>
                    </div>
                </div>
            </div>
            <div class="di form-group">
                <input type="password" class="form-control" placeholder="<%= _.getContent(25) %>" id="password" name="password">
                <span class="help-block"></span>
            </div>
            <button type="button" class="regbtn di btn js-register" data-count="0"><%= _.getContent(26) %></button>
        </fieldset>
    <% } %>
    <fieldset>
        <div class="page-header">
            <h3><%= _.getContent(21) %><br />
                <small><%= _.getContent(9) %></small>
            </h3>
        </div>
        <div class="di form-group">
            <input type="text" class="form-control" placeholder="<%= _.getContent(27) %>" id="job" name="job">
            <span class="help-block"></span>
        </div>
        <div class="di form-group">
            <input type="text" class="form-control" placeholder="<%= _.getContent(29) %>" id="interest" name="interest">
            <span class="help-block"></span>
        </div>
        <div class="di form-group">
            <input type="text" class="form-control" placeholder="<%= _.getContent(28) %>" id="dream" name="dream">
            <span class="help-block"></span>
        </div>
        <div class="di form-group">
            <textarea placeholder="<%= _.getContent(30) %>" maxlength="<%= maxLength %>" class="form-control" id="interviewCaption" name="interviewCaption"></textarea>
            <span class="counter"><%= maxLength %></span>
            <span class="help-block"></span>
        </div>
        <div class="hr di"></div>
        <% if (!reg) { %>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="regbtn di btn nav prev" data-count="1">Вернуться назад</button>
            </div>
            <div class="col-sm-6">
                <button type="button" class="regbtn di btn nav next" data-count="1">Вперед</button>
            </div>
        </div>
        <% } else { %>
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="regbtn di btn js-update" data-count="1">Сохранить</button>
                </div>
            </div>
        <% } %>
    </fieldset>
    <% if (reg) { %>
        <fieldset>
            <div class="page-header">
                <h3><%= _.getContent(21) %><br />
                    <small><%= _.getContent(9) %></small>
                </h3>
            </div>
            <div class="di form-group">
                <input type="text" class="form-control" placeholder="<%= _.getContent(31) %>" id="homepage" name="homepage">
            </div>
            <div class="di form-group file_upload_block">
                <div class="row">
                    <div class="col-sm-6">
                        <label class="btn di btn_upload_img" id="uploadImage" for="upload"><%= _.getContent(32) %></label>
                    </div>
                    <div class="col-sm-6">
                        <div class="output text-right">
                            <img src="/frontend/img/noAvatar.jpg" width="150" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <button type="button" class="regbtn di btn nav prev" data-count="2">Вернуться назад</button>
                </div>
                <div class="col-sm-6">
                    <button type="button" class="regbtn di btn js-update" data-count="2"><%= _.getContent(33) %></button>
                </div>
            </div>
        </fieldset>
    <% } %>
</form>