<div class="like-title">
    <div class="category-type-review"><h2><%= category %></h2> 
        <article class="cat-title cat-title-speaker">
        <% _.each(path, function(category) { %>
            <% if (category.id != 0) { %>
            <a href="/#/posts/<%= category.id %>/dateSort" id="<%= category.id %>">
                <%= category.name %>
            </a>
            <% } %>
        <% }); %>
        </article>
        <% _.each(types, function(type) { %>
            <% if (type.selected !== "") { %>
                 <span class="speaker-type-review"><%= type.name %></span>
            <% } %>
        <% }); %>
    </div>
    
    <input type="hidden" name="rating" class="ratingSpeaker" 
                data-filled="symbol symbol-filled small" 
                data-empty="symbol symbol-empty small" 
                readonly="readonly"
                value="<%= rating %>" 
                data-start="0" data-stop="5"/>
    
    <span class="like-this">
            <b><i></i></b>
            <span class="counter">
                    <%= post_likes %>
            </span>
            <span>вдохновились</span>
    </span>
    <h2>
            <%= title %>
            <% if (authorId === window.config.userId) { %>
                    <a href="#/review/<%= id %>/edit" class="editable"></a>
            <% } %>
            <span class="media-pub">
                    опубликовано <%= _.getDateText(publishDate) %>
            </span>
    </h2>
</div>
<div class="content">
        <article  class="questionContent">
            <div class="question_content">
                <%= text %>
            </div>
        </article>
</div>
<div class="q-box">
    <span class="like-this">
            <b><i></i></b>
            <span class="counter">
                    <%= post_likes %>
            </span>
            <span>
                    вдохновились
            </span>
    </span>

    <span class="q-post">
            <a href="/#/speaker/<%= authorId %>/answers"><i></i></a> <%= questionCount %> вопросов этому автору
    </span>
</div>

