<div style="<%= typeof(user) !== "undefined" && user == 'admin' ? _.getContent(78) : ''%>">
<% if (typeof(previewPostImg) !== "undefined" && previewPostImg !== '') { %>
    <div class="admin-post-container">
        <div class="post-preview-all">
            <img src="<%= previewPostImg %>" class="post-preview-img active">
        </div>
    <% } %>
<div class="speaker-avatar">
        <% if(authorId !== 0) { %>
	<a href="#/speaker/<%= authorId %>/posts">
		<% if(avatarImg === null) { %>
			<img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic-small" alt="<%= name %>">
		<% } else { %>
			<img src="/web/upload/avatar/<%= avatarImg %>" class="usr-ic-small" alt="<%= name %>">
		<% } %>
                
                <%= authorName %> 
	</a>
        <% } else { %>
            <%= authorName %>
        <% } %>
        | 
        <a href="#/posts/<%= categoryId %>/dateSort" ><%= category %></a> | 
        <label for="rating"><%= _.getContent(104) %></label>
            <input type="hidden" name="rating" class="ratingSpeaker" 
                data-filled="symbol symbol-filled statistics" 
                data-empty="symbol symbol-empty statistics" 
                readonly="readonly"
                value="<%= rating %>" 
                data-start="0" data-stop="5"/>
</div>
<h2>
    <a href="#/review/<%= id %>">
        <%= title %>
    </a>
    <% if (authorId === window.config.userId) { %>
    <a href="#/review/<%= id %>/edit" class="editable"></a>
    <% } %>
</h2>

<div class="content">
    <p>
        <%= description %>

    </p>
</div>

<div class="hr"></div>
<% if (typeof(previewPostImg) !== "undefined" && previewPostImg !== '') { %>
</div>
<% } %>
</div>