<% if(image === null || image === '' || image === 'undefined') { %>
<div class="interview-intro" style="background-image: url('/frontend/img/i6.jpg');">
<% } else { %>
<div class="interview-intro" style="background-image: url('/web/upload<%= image %>');">
<% } %>
    <div class="main-w static">
	<div class="interview-title">
        </div>
    </div>  
</div>
<section class="page-layout row">
    <div class="content">
        <div class="col-md-8 col-md-push-2">
            <h1>
                <%= heading %>
            </h1>
            <br/>
            <%= text %>
        </div>
	
</div>
</section>