<div class="p-box stories">
    <div class="storiesNewButtons">
        <a href="" id="window-close">отмена</a>
    
        <div class="content">
            <div>
                <h3>
                    <%=  _.getContent(84) %>
                </h3>
            </div>

            <div class="auto-complete">
                <input type="text" class="category-for-review" />
                <ul class="found-categories"></ul>
            </div>
            
            <div class="not-have-category">
                <h4><%=  _.getContent(95) %></h4>
            </div>

        </div>
    </div>
</div>