<% if (typeof homepage === 'string' && homepage.match(/facebook.com/g)){
var linkClass = 'wf'
} else if (typeof homepage === 'string' && homepage.match(/vk.com/g)) {
var linkClass = 'wb'
} else {
var linkClass = 'ws'
}%>

<div class="fixed-position-aside">
    <% if(avatarImg === null) { %>
    <img src="<%= _.getContent(18) %>" alt="<%= name %>">
    <% } else { %>
    <img src="/web/upload/avatar/<%= avatarImg %>" alt="<%= name %>">
    <% } %>
    <h4>
        <a href="#/speaker/<%= id %>/posts/" class="usr-name">
            <%= name %>
        </a>
        <% if (isAuthor) { %>
        <a href="#/speaker/<%= id %>/edit/" class="editable"></a>
        <% } %>
    </h4>
    <p class="u-description">
        <%= interviewCaption %>
    </p>
    <div class="hr"></div>
    <div class="pub">
        <h4 class="p-label">Последнее обновление</h4>
        <%= _.getDateText(last_publish_date) %>
        <div class="hr"></div>
    </div>

    <div class="media-hidden">
        <div class="inner">
            <div class="b-indent">Деятельность:<br>
                <a href="#" class="t-under c-black">
                    <%= job %>
                </a>
            </div>
            <div class="b-indent">Профессия, которая восхищает:<br>
                <a href="#" class="t-under c-black">
                    <%= interest %>
                </a>
            </div>
            <div class="b-indent">Детская мечта:<br>
                <a href="#" class="t-under c-black">
                    <%= dream %>
                </a>
            </div>
            <div class="hr"></div>
            <div class="d-box clearfix">
                <div>
                    <p class="p-label">историй</p>
                    <a href="#/speaker/<%= id %>/posts/">
                        <%= posts.length %>
                    </a>
                </div>
                <div>
                    <p class="p-label">ответов</p>
                    <a href="#/speaker/<%= id %>/answers/">
                        <%= answers_count %>
                    </a>
                </div>
            </div>
            <% if (homepage) { %>
            <div class="hr"></div>
            <div class="social clearfix">
                <div class="social-links">
                    <% if (homepage.substr(0, 4) === 'http') { %>
                    <a href="<%= homepage %>" class="<%= linkClass %>"></a>
                    <% } else { %>
                    <a href="http://<%= homepage %>" class="<%= linkClass %>"></a>
                    <% } %>
                </div>
            </div>
            <% } %>

            <div class="hr"></div>
            <% if (!isAuthor) { %>
            <div class="hdi">
                <% if (typeof _.find(window.config.friends, {id: id}) !== "undefined") { %>
                <button type="button" class="btn js-follow color-red">Отписаться</button>
                <% } else { %>
                <button type="button" class="btn js-follow">Подписаться</button>
                <% } %>
            </div>
            <% } %>
        </div>
    </div>
</div>