<div class="legoImg">
    <% if(ask_avatarImg === null) { %>
            <img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic-small" alt="<%= ask_authorName %>">
    <% } else { %>
            <img src="/web/upload/avatar/<%= ask_avatarImg %>" class="usr-ic-small" alt="<%= ask_authorName %>">
    <% } %>
</div>
<div class="p-label small">
    <b>
        <span class="green">
            <a href="#/speaker/<%= ask_authorId %>/posts">
                <%= ask_authorName %>, <%= ask_authorProf %>
            </a>
        </span> спросил(а)
    </b>
</div>
<h3>
    <%= questionText %>
    <span class="post-date">
        <%= _.getDateText(publishDate) %>
    </span>
</h3>
<div class="content">
    <p>
        <%= questionAnswerText %>
    </p>
</div>
<div class="hr"></div>