<% var path = (Window.config.userId === id) ? "#/author" : "#/speaker/" + id %>
<div class="speaker-avatar">
	<a href="<%= path %>/posts">
		<% if(avatarImg === null) { %>
			<img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic" alt="<%= name %>">
		<% } else { %>
			<img src="/upload/avatar/<%= avatarImg %>" class="usr-ic" alt="<%= name %>">
		<% } %>
	</a>
</div>
<div class="speaker-info">
	<h4 class="p-label">
		<span>Posts <a href="<%= path %>/posts" class="green"><%= posts_count %></a></span>
        <span>&nbsp;&nbsp;&nbsp;</span>
		<span>Rate <a class="green"><%= likes_count %></a></span>
	</h4>
	<h2>
		<a href="<%= path %>/posts">
			<%= name %>
		</a>
        <%= _.getDateText(last_publish_date) %>
	</h2>
	<div class="content lic">
		<%= interviewCaption %>
	</div>
</div>
<div class="hr"></div>