<div class="p-label small">
    <b>
        <span class="green">
            <a href="#/speaker/<%= ask_authorId %>/posts">
                <%= ask_authorName %>, <%= ask_authorProf %>
            </a>
        </span> спросил(а)
    </b>
</div>
<h3>
    <b><%= questionText %></b>
    <span class="post-date">
        <%= _.getDateText(publishDate) %>
    </span>
    <a class="js-open editable"></a>
</h3>
<div class="content" style="display: none;">
    <form role="form">
        <div class="form-group">
            <textarea class="form-control" name="questionAnswerText" id="questionAnswerText" rows="3"></textarea>
            <p class="help-block"></p>
        </div>
        <button class="btn" type="submit">Ответить</button>
        <button class="btn js-delete color-red" type="button">Удалить</button>
    </form>
</div>
<div class="hr"></div>