<div class="like-title">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
          <%= post_likes %>
        </span>
        <span>вдохновились</span>
	</span>
    <h2>
        <b>
            <a href="#/post/<%= id %>">
                <%= title %>
            </a>
            <% if (authorId === window.config.userId) { %>
            <a href="#/post/<%= id %>/edit" class="editable"></a>
            <% } %>
        </b>
        <br/>
        <span class="post-date"><%= _.getDateText(publishDate) %> 

        <% if (typeof(timeToRead) !== "undefined" && timeToRead > 0) { %>
            | <%= timeToRead %> мин чтения
        <% } else if (timeToRead === 0) { %>
            | 1 мин чтения
        <% } %>
        <% if (typeof(interview_name) !== "undefined" && interview_name !== '') { %>
        | <span style="<%= _.getContent(62) %>"><%= _.getContent(61) %> <a href='/#/interview/<%= interview_id %>'><b><%= interview_name %></b></a></span>
        <% } %>

        </span>
    </h2>
</div>
<div class="content">
    <p>
        <%= description %>
    </p>
</div>
<div class="hr"></div>