<div class="content speaker-interviews">
    <% if (interviews.length >= 1) { %>
    <div class="interview-title-speaker">
        <h3><%= _.getContent(82) %></h3>
    </div>
    <% } %>
    <% _.each(interviews, function(interview) { %>
        <article interviewId="<%= interview.id %>" class="LegoInterviewsList">
            <a href="#/interview/<%= interview.id %>">
                <% if(interview.image === null || interview.image === '') { %>
                <img src="/frontend/img/logo.jpg" alt="" class="post-preview-img active">
                <% } else { %>
                <img src="/web/upload/interviews/<%= interview.image %>" alt="" class="post-preview-img active">
                <% } %>
                <article class="cat-title">
                    <h3><%= interview.name %></h3>
                </article>
            </a>
             <%= interview.timeToRead %> минут чтения | <%= interview.speakers %> спикеров | <%= interview.likes %> вдохновились
        </article>
	<% }); %>
    <% if (authorId === window.config.userId) { %>
    <div class="interview-title-speaker">
        <h4><%= _.getContent(83) %></h4>
    </div>
    <% } %>
</div>