<article class="cat-statistic" style="<%= _.getContent(109) %>">
    <div><%= _.getContent(111) %></div>
    <div>
        <input type="hidden" name="rating" class="ratingCategory" 
            data-filled="symbol symbol-filled statistics-big" 
            data-empty="symbol symbol-empty statistics-big" 
            readonly="readonly"
            value="<%= ratingRound %>"
            data-start="0" data-stop="5"/> (<%= all %>)
        <div class="averageValStat">Средняя оценка <%= rating %> из 5</div>
    </div>
    <div>
        <div class="ratingTitle"><%= _.getContent(93) %></div> 
        <input type="hidden" name="rating5" class="ratingCategory" 
            data-filled="symbol symbol-filled statistics" 
            data-empty="symbol symbol-empty statistics" 
            readonly="readonly"
            value="5" 
            data-start="0" data-stop="5"/> (<%= rating5 %>)
    </div>
    <div>
        <div class="ratingTitle"><%= _.getContent(92) %></div> 
        <input type="hidden" name="rating4" class="ratingCategory" 
            data-filled="symbol symbol-filled statistics" 
            data-empty="symbol symbol-empty statistics" 
            readonly="readonly"
            value="4" 
            data-start="0" data-stop="5"/> (<%= rating4 %>)
    </div>
    <div>
        <div class="ratingTitle"><%= _.getContent(91) %></div>
        <input type="hidden" name="rating5" class="ratingCategory" 
            data-filled="symbol symbol-filled statistics" 
            data-empty="symbol symbol-empty statistics" 
            readonly="readonly"
            value="3" 
            data-start="0" data-stop="5"/> (<%= rating3 %>)
    </div>
    <div>
        <div class="ratingTitle"><%= _.getContent(90) %></div>
        <input type="hidden" name="rating5" class="ratingCategory" 
            data-filled="symbol symbol-filled statistics" 
            data-empty="symbol symbol-empty statistics" 
            readonly="readonly"
            value="2" 
            data-start="0" data-stop="5"/> (<%= rating2 %>)
    </div>
    <div>
        <div class="ratingTitle"><%= _.getContent(89) %></div>
        <input type="hidden" name="rating5" class="ratingCategory" 
            data-filled="symbol symbol-filled statistics" 
            data-empty="symbol symbol-empty statistics" 
            readonly="readonly"
            value="1" 
            data-start="0" data-stop="5"/> (<%= rating1 %>)
    </div>
<!--    <div>
    <label><%= _.getContent(105) %></label>
    <input type="hidden" name="prospects" class="ratingCategory" 
        data-filled="symbol symbol-filled statistics" 
        data-empty="symbol symbol-empty statistics" 
        readonly="readonly"
        value="0" 
        data-start="0" data-stop="5"/>
    </div>
    <div>
        <label><%= _.getContent(106) %></label>
    </div>
    <div>
        <label><%= _.getContent(107) %></label>
    </div>
    <div>
        <label><%= _.getContent(108) %></label>
    </div>-->
</article>