<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-target="#posts" data-change="tab">Истории</a>
                </li>
                <li>
                    <a data-target="#questions" data-change="tab">Ответы</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="posts"></div>
                <div class="tab-pane" id="questions"></div>
            </div>
        </div>
    </div>
</div>