<article>

    <div class="content">
        <h4><textarea data-field='description'>{{model.description}}</textarea></h4>
        <p><textarea data-field='text'>{{model.text}}</textarea></p>
    </div>

    <a class="btn" data-send-button>Отправить!</a>
    <a class="mLeft10" data-to-mode='passive'>Отмена</a>

    <div class="hr"></div>

</article>