<header class="log-in"></header>

<section id='main-layout'>
    <div id = "center">
        <article>
            <h3 class="t-center">Добавляйте постам лайки и выбирайте историю дня</h3>
            <div id='queue'></div>
        </article>
    </div>
</section>

<footer></footer>