* {
  font-family: Arial;
}
a {
  text-decoration: none;
  color: #000;
}
#top {
  position: absolute;
  top: 0;
  left: 0;
  height: 50px;
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
  background: #eeeeee;
}
#left {
  position: absolute;
  top: 50px;
  left: 0;
  width: 25%;
  height: 100%;
  border-right: 1px solid #c2c2c2;
}
#center {
  position: absolute;
  top: 50px;
  right: 0;
  width: 75%;
}
#center .authorPosts #switcher {
  height: 50px;
  width: 100%;
  line-height: 50px;
}
#center .authorPosts #switcher div {
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  font-weight: 800;
}
#center .authorPosts #switcher .active {
  color: #007e00;
  border-bottom: 1px solid #008300;
}
#center .authorPosts #newPost {
  min-height: 50px;
  width: 100%;
  line-height: 50px;
  border-bottom: 1px solid #c2c2c2;
}
#center .authorPosts #newPost #newPostButton {
  cursor: pointer;
}
#center .activePost {
  padding: 10px;
  background: #f6f6f6;
  border: 1px solid #c2c2c2;
}
#center .activePost .activePostCaption {
  width: 98%;
  border: 1px solid #c2c2c2;
  font-weight: 800;
}
#center .activePost .activePostPreview {
  overflow: none;
  width: 98%;
  border: 1px solid #c2c2c2;
  min-height: 40px;
}
#center .activePost .activePostBody {
  overflow: none;
  width: 98%;
  border: 1px solid #c2c2c2;
  min-height: 100px;
}
#center #newQuestionButton {
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  width: 100%;
  border-bottom: 1px solid #c2c2c2;
  text-align: center;
}
#center .activeQuestion {
  padding: 10px;
  background: #f6f6f6;
  border: 1px solid #c2c2c2;
}
#center .activeQuestion .activeQuestionBody {
  overflow: none;
  width: 98%;
  border: 1px solid #c2c2c2;
  min-height: 100px;
}
#center .passivePost {
  padding: 10px;
  border-bottom: 1px solid #c2c2c2;
  border-left: 1px solid #c2c2c2;
}
#center .passivePostCaption {
  width: 98%;
  font-weight: 800;
  background: #fff;
  margin: 5px;
  padding: 5px;
}
#center .passivePostPreview {
  overflow: none;
  width: 98%;
  min-height: 40px;
  background: #fff;
  margin: 5px;
  padding: 5px;
}
#center .passivePostBody {
  overflow: none;
  width: 98%;
  min-height: 100px;
  background: #fff;
  margin: 5px;
  padding: 5px;
}
#center #postsQueue .post {
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
  padding: 20px;
  cursor: pointer;
}
#center #postsQueue .post .caption {
  font-size: 14pt;
  font-weight: 800;
}
