<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-target="#interview" data-change="tab">Интервью</a>
                </li>
                <li>
                    <a data-target="#content" data-change="tab">Контент</a>
                </li>
                <li>
                    <a data-target="#posts" data-change="tab">Истории</a>
                </li>
                <li>
                    <a data-target="#peoples" data-change="tab">Люди</a>
                </li>
                <li>
                    <a data-target="#lego" data-change="tab">Лего-истории</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="interview"></div>
                <div class="tab-pane" id="content"></div>
                <div class="tab-pane" id="posts"></div>
                <div class="tab-pane" id="peoples"></div>
                <div class="tab-pane" id="lego"></div>
            </div>
        </div>
    </div>
</div>