<div class="content">
    <!--<b>id: <%= id %></b>-->
    <h4>
        <b class="description"></b>
        <button class="editable js-edit" type="button">
            <i></i>
        </button>
    </h4>
    <p class="text"></p>
</div>
<div class="edit">
    <input type="text" id="description" name="description" />
    <textarea id="text" name="text"></textarea>

    <button type="button" class="btn js-save">Сохранить</button>
    <button type="button" class="btn js-cancel">Отмена</button>
</div>