<div class="row">
    <div class="col-sm-6">
        <label class="btn di btn_upload_img" id="uploadImg" for="upload"><%= _.getContent(32) %></label>
    </div>
    <div class="col-sm-6">
        <div class="output text-right">
            <% if(interviewImg === null) { %>
            <img src="/frontend/img/logo.jpg" alt="" width="100" height="100">
            <% } else { %>
            <img src="/web/upload/interviews/<%= interviewImg %>" alt="" width="100" height="100">
            <% } %>
        </div>
    </div>
</div>