<div class="content">
    <article class="questionContent" id="lego-answers-content">
        
    </article>
    <div class="text-center">
        <div class="row">
            <div class="col-sm-6 text-right">
                <button type="button" id="js-save-lego" class="btn js-save">Сохранить</button>
            </div>
            <div class="col-sm-6 text-left">
                <button type="button" id="js-delete-lego" class="btn js-delete">Удалить</button>
            </div>
        </div>
        <div class="interviewLink">
            <p>
                <b>Ссылка на интервью:</b>
                <a href="/#/interview/<%= id %>/" target="_blank">
                    <%= window.location.origin+'/#/interview/' + id + '/' %>
                </a>
            </p>
        </div>
        <div class="error"></div>
    </div>
   
</div>