<h2 style="display: none;"><a href="#" class="openInterview"></a></h2>
<div class="editBlock" style="display: block;">
    <input type="text" value="" placeholder="Введите название интервью" data-field="name"/>
    <a href="#" class="btn cancleEdit">Отмена</a>
</div>
<div class="interview_question_list" style="display: block;">
    <ul></ul>
    <article class="bottom-toolbar t-center"><a href="#" class="btn addQuestion">Добавить вопрос</a></article>
    <article class="bottom-toolbar t-center newInterviewButtons"><a href="#" class="btn saveInterview">Сохранить интервью</a></article>
</div>
<div class="interviewLink"></div>
<div class="hr"></div>