<div class="p-label">
    <a href="#/speaker/<%= authorId %>/posts">
        <%= authorName %>
    </a>
</div>
<h2>
    <a href="#/post/<%= id %>">
        <%= title %>
    </a>
    <a href="#/post/<%= id %>/edit" class="editable"></a>
</h2>
<div class="content">
    <p>
        <%= description %>
    </p>
</div>
<div class="row">
    <div class="col-sm-6 text-right">
        <button type="button" class="btn js-postOfTheDay">Назначить постом дня</button>
    </div>
    <div class="col-sm-6 text-left">
        <button type="button" class="btn js-delete">Удалить пост</button>
    </div>
</div>
<div class="hr"></div>