<header class="log-in"></header>

<section id="page-layout">
    <div class="post-edit">
        <article>
            <h3 class="t-center">Пользовательское соглашение</h3>
            <div data-managed-content="10">

            </div>
            <div class="hr"></div>
        </article>
    </div>


</section>

<footer></footer>