<header class="log-in"></header>

<section id="page-layout">

    <nav class="navigate">
        <a class="active">Новости</a>
        <a href='#blog/questions'>Отзывы</a>
    </nav>
    <div class="postinfo" id="nt">
        <div class="open-area"></div>

        <img src="./_temp/a1.jpg" alt="">
        <h4><a class="usr-name">Блог администрации</a></h4>
        <div class="hr"></div>


        <div class="media-hidden">
            <div class="inner">
                <div class="b-indent">Первый:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="b-indent">Второй:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="b-indent">Третий:<br>
                    <a class="t-under c-black">support@yasoon.ru</a>
                </div>
                <div class="hr"></div>
                <div class="social">
                    <div class="hr"></div>
                    {{#if isLoggedIn}}
                        <a class="btn" id='follow'>Подписаться</a>
                        <a class="btn close-question mLeft10" id='unfollow' style='display:none'>Отписаться</a>
                    {{else}}<a class="btn" id='follow.anon' data-to-login>Подписаться</a>{{/if}}
                </div>
            </div>
        </div>
    </div>

    <article class="lim cat-title">
        <div class="content"><p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce elit tellus, fringilla sit amet rutrum ut, rhoncus eget augue. Integer elementum pretium nibh, porttitor elementum nibh vulputate eu. Sed suscipit dolor nunc, eget molestie ligula consectetur in. Duis eget enim scelerisque, ornare ante quis, molestie lacus. Maecenas laoreet molestie lacus eget pellentesque. Pellentesque egestas eros ut nisl pharetra pretium. Vestibulum a lectus varius, hendrerit nisl in, aliquet mi. Ut nec tempus nibh. Praesent sollicitudin urna eget nibh feugiat ullamcorper. Maecenas iaculis porta elit quis ultricies. Aliquam erat volutpat. Fusce sit amet dolor vehicula, euismod turpis id, volutpat erat. Ut at dui et turpis placerat varius. Nam sit amet enim suscipit, laoreet diam ut, bibendum tortor. Nulla convallis dolor eu arcu commodo accumsan.

Ut pellentesque tellus ipsum, vel pretium massa luctus eu. Fusce fringilla ultricies metus ut ullamcorper. Morbi eleifend scelerisque tristique. Sed et dapibus massa. Etiam ut metus ac enim eleifend bibendum. Integer mollis dapibus ipsum, ac commodo lorem laoreet eu. Sed nec eros nec turpis tempor placerat. Nam semper molestie tortor sit amet auctor. Donec enim nibh, sollicitudin quis suscipit quis, malesuada sit amet risus.

Donec sed augue aliquet, interdum sem at, semper mauris. Sed tincidunt, magna eget scelerisque pulvinar, turpis neque commodo massa, vitae auctor tellus quam at lorem. Quisque malesuada tortor a lorem faucibus bibendum. Aenean id odio et nisi fermentum ultrices et non tellus. Duis et fringilla ligula. Sed ultricies dignissim dui, at porta ligula dignissim tempor. Proin in adipiscing libero. Vestibulum in volutpat turpis, dictum molestie velit. Ut id augue mauris. Suspendisse ornare pellentesque tincidunt. Duis bibendum ornare magna in scelerisque. Proin at egestas massa, malesuada vulputate mi. Morbi eleifend est tincidunt, vulputate est in, vehicula nunc.

Nullam enim urna, commodo eu nisl sollicitudin, fermentum rutrum tellus. Curabitur quam odio, pulvinar a fringilla id, viverra sed nibh. Fusce vel lacus tristique, placerat nisi et, suscipit erat. Phasellus magna sapien, consequat sed augue sed, viverra semper sapien. Vestibulum cursus vel eros dapibus condimentum. Vestibulum mollis, sem ut fermentum feugiat, mi justo mollis metus, in venenatis urna tellus non orci. Morbi ornare quam dui, at dapibus est adipiscing ac. Sed vitae lorem sed velit eleifend semper eget eget metus. Proin eu facilisis turpis, eu consequat velit. Praesent accumsan erat sit amet ligula sollicitudin, eu iaculis massa mollis. Vivamus mi nunc, vehicula eget massa at, imperdiet sodales risus. Donec diam velit, bibendum et nisl sit amet, fermentum sagittis tortor. Etiam sollicitudin vehicula libero, vel cursus leo iaculis a. Praesent tortor sem, rhoncus eu lorem sed, dictum lobortis ligula. Nulla eleifend in nisi sed commodo.

Quisque at lectus tempus, faucibus quam quis, hendrerit sapien. Etiam tellus arcu, commodo quis fringilla dapibus, commodo vitae lorem. Cras tristique malesuada dignissim. Aenean et posuere diam, nec dapibus ipsum. Sed massa ante, lacinia nec hendrerit vel, tristique quis ante. Sed vel condimentum massa, quis luctus sem. Cras auctor diam varius consectetur ultrices. Aenean vehicula ante cursus sapien laoreet, ut malesuada mauris dignissim. Aliquam erat volutpat.

Aenean sit amet mi velit. In sapien nibh, dictum nec nulla a, tempor mattis risus. Praesent semper scelerisque scelerisque. Praesent sit amet magna sed neque porttitor molestie. Duis id dui laoreet lacus rutrum pulvinar. Nunc molestie lobortis bibendum. Donec ac adipiscing est. Phasellus auctor erat in elit lacinia feugiat. Donec porttitor id sem vel placerat.

Donec eget volutpat magna, ut luctus tortor. Integer mollis, tortor non sagittis lacinia, sapien lorem fermentum ante, convallis lacinia mi metus eu mauris. Donec pretium magna in convallis posuere. Phasellus pharetra volutpat erat. Donec mi magna, posuere at leo ut, venenatis bibendum nulla. Vivamus at adipiscing orci, ac ornare neque. Sed sed mattis urna. Aliquam tincidunt elit eros, vitae fermentum leo malesuada porta. Nunc eget auctor purus. Nullam venenatis condimentum metus nec dictum. Aliquam id libero quis mauris vestibulum varius. Nulla id adipiscing urna.

Nullam lacinia bibendum tortor, ac condimentum elit vehicula non. In porttitor imperdiet nibh, sit amet ornare diam. Praesent convallis at lorem ut tempus. Mauris tempor, odio vitae congue varius, nunc tellus congue turpis, nec ullamcorper lacus enim vitae sem. Nulla ut fermentum lorem. Quisque id commodo elit, in tristique orci. Curabitur et sapien fringilla, lacinia turpis lobortis, fermentum ipsum. In sed condimentum tellus. Etiam viverra tristique ligula, sed volutpat sem facilisis nec. Curabitur bibendum augue adipiscing ipsum auctor egestas. Nunc a erat laoreet, mattis elit eget, tempor dui.

Phasellus libero magna, bibendum eu nisl ut, tristique sodales odio. Sed id ligula sed dolor facilisis bibendum. Sed non massa lorem. Mauris ac arcu porta massa rhoncus tempus. Morbi porta a risus et viverra. Cras cursus dui sed odio euismod laoreet. Praesent lacus ipsum, porta quis velit ut, mattis faucibus ipsum.

Aliquam non nisi non odio rhoncus semper. Proin id eros eget dolor porttitor aliquet. Suspendisse potenti. Sed vitae semper odio. In blandit, magna id suscipit rutrum, tortor nunc imperdiet erat, vitae varius nisl enim ac urna. Aenean id mi lorem. Phasellus sit amet congue nulla.

Proin libero ligula, ornare ac augue at, tincidunt ultricies justo. Nam sed elementum orci. Mauris vestibulum est quis ipsum consequat, eu sodales felis facilisis. Morbi aliquet urna id leo commodo, vitae commodo sem dictum. In ullamcorper sem mollis, posuere lectus et, dapibus orci. Mauris facilisis eu sapien vitae convallis. In tempus ligula ac arcu fermentum, nec tempor leo gravida.

Proin venenatis purus elit, sollicitudin mattis ipsum lacinia eu. Aliquam sit amet dui luctus, hendrerit enim eu, luctus odio. Suspendisse nisl arcu, gravida quis est ut, sollicitudin lacinia neque. Nunc fermentum laoreet lacinia. Vivamus vitae nunc at urna vestibulum faucibus in vel leo. Nullam laoreet vel est vitae aliquam. Nam tellus risus, tempus ut placerat nec, eleifend non nibh. Curabitur vitae eros venenatis, egestas arcu non, cursus ligula. Pellentesque in quam sed sapien ultrices malesuada. Vivamus in elementum quam. Suspendisse est felis, suscipit nec tempus quis, eleifend eu sem. Nam eu laoreet sapien, sed pretium nibh. Duis mattis, velit nec hendrerit adipiscing, justo nunc ullamcorper nulla, nec condimentum sem justo ac odio.

Nam vehicula lectus a faucibus condimentum. Aliquam erat volutpat. Duis cursus nibh ac metus mollis placerat. Etiam fringilla luctus nisl id suscipit. Nam eu nulla nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent convallis imperdiet feugiat.

Duis ultrices sodales magna quis laoreet. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lacus ante, porta fermentum mollis ut, viverra id ligula. Sed vitae erat ipsum. Nam dapibus, nulla id commodo cursus, mauris eros auctor lectus, et varius mauris quam nec arcu. Praesent sit amet enim eu elit sagittis adipiscing vel nec ipsum. Proin sit amet diam a sapien egestas hendrerit ac quis turpis. Morbi justo orci, condimentum a diam sed, porttitor ultricies diam. Proin id risus id est elementum facilisis. Vivamus et arcu sit amet nisl egestas interdum ac ac nunc. Fusce ultricies eros ac scelerisque mattis. In eu nisl eget libero pellentesque suscipit. Aliquam ullamcorper lacinia nisl, non elementum magna sodales a.

Mauris porta nisl nisl, nec hendrerit mauris commodo nec. Donec placerat congue fringilla. Aenean imperdiet nunc id gravida facilisis. Vivamus laoreet dolor vitae viverra rhoncus. Nulla dui leo, suscipit non urna nec, condimentum porta mi. Sed eget malesuada risus. Curabitur eu diam ac urna cursus hendrerit vel vitae urna. Morbi risus orci, molestie in elit ut, rutrum gravida ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse at pellentesque mi. Nam ac massa eu turpis blandit blandit quis quis mi. Proin vel urna commodo, hendrerit quam et, venenatis sem.

Duis sit amet elementum metus. Fusce porttitor commodo turpis, in adipiscing mauris pellentesque vitae. Donec metus ipsum, dapibus in lacinia nec, mattis vel mi. Integer tortor magna, volutpat sit amet malesuada eu, malesuada ut erat. Aliquam dignissim nibh sit amet augue iaculis, quis consectetur ligula sagittis. Etiam velit enim, rutrum et semper id, scelerisque vitae magna. Nulla vitae elit a urna fringilla blandit. Aliquam at venenatis turpis. Quisque consequat tellus eu est varius, sit amet volutpat massa dignissim.

Aliquam interdum varius nisi, porttitor pellentesque lacus placerat sed. Sed porta mauris a felis iaculis tempus. Curabitur dignissim lectus et dolor dapibus, ac congue orci suscipit. In dictum pharetra ipsum, et faucibus turpis pellentesque vel. Suspendisse vel metus sapien. Aenean nec erat eu ipsum sagittis lobortis non ut nulla. In nibh nisl, sollicitudin eget felis ut, congue facilisis lacus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; In lobortis imperdiet mi. Fusce id neque in arcu vulputate semper. Donec varius sem ut dictum vestibulum. Nulla venenatis semper odio, sed iaculis massa vehicula et. Nullam rhoncus, tortor id feugiat dignissim, est justo vulputate mi, quis pellentesque tortor tellus vitae purus.

Aliquam ut ante non dui tempor euismod sed nec odio. Suspendisse suscipit in tortor a tincidunt. Sed pharetra sapien eu tellus sodales volutpat. Nam ut venenatis diam, in rhoncus velit. Nunc eget mattis orci. In at bibendum nunc. Vestibulum interdum pulvinar ipsum, at adipiscing leo adipiscing eu. Quisque quis massa id nisi aliquam elementum. Proin tincidunt lacus eget odio molestie, at euismod velit lobortis. Ut malesuada fringilla elit, ac egestas lacus interdum at. Integer vehicula rhoncus pellentesque. Nam et tortor et lorem porta lacinia a eu lorem. In eget pretium massa, nec iaculis magna. Aliquam fermentum leo vel metus mattis posuere. Vivamus volutpat, libero vel bibendum vulputate, lacus massa
            <a class="btn" href='#blog/new' data-permission="ADMIN">Написать новый пост</a></p></div>
        <div class="hr"></div>
    </article>

    <div id='queue'>

    </div>

</section>

<footer></footer>