<article class="cat-title">
    <a href="/#/posts/0/<%= sort %>" id="0">Все</a>
    <% _.each(description, function(category) { %>
        <% if (category.id != 0) { %>
        <a href="/#/posts/<%= category.id %>/<%= sort %>" id="<%= category.id %>">
            <%= category.name %>
        </a>
        <% } %>
    <% }); %>
    <p><%= _.getContent(67) %></p>
    <div class="hr"></div>
</article>

<nav class="navigate">
	<a href="#/posts/<%= category %>/dateSort/" class="<% if (sort === 'dateSort') print('active') %>"><%= _.getContent(72) %></a>
	<a href="#/posts/<%= category %>/rateSort/" class="<% if (sort === 'rateSort') print('active') %>"><%= _.getContent(73) %></a>
</nav>