<div class="p-box login">
  <h3>Авторизация</h3>
  <div class="connect">
    <ul>
      <li>
        <button class="login-btn vk" id="vk-login">Войти через Вконтакте</button>
      </li>
      <li>
        <button class="login-btn fb" id="fb-login">Войти через Facebook</button>
      </li>
      <li class="last">
        <span>Нет аккаунта?</span> 
        <a href="#/register/" id="register"><b>Регистрация</b></a>
      </li>
    </ul>
  </div>
  <div class="connect">
    <form action="#">
      <ul>
        <li class="form-group">
          <input class="form-control" type="text" placeholder="Имя или email" id="email" name="email">
          <span class="help-block"></span>
        </li>
        <li class="form-group">
          <input class="form-control" type="password" placeholder="Пароль" id="password" name="password">
          <span class="help-block"></span>
        </li>
        <li>
          <button class="link">Забыли пароль?</button>
          <button class="btn" type="submit">Войти</button>
        </li>
      </ul>
    </form>
  </div>
</div>