<div class="like-title">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>вдохновились</span>
	</span>
	<h1>
		<%= title %>
		<% if (authorId === Window.config.userId) { %>
			<a href="#/post/<%= id %>/edit" class="editable"></a>
		<% } %>
		<span class="media-pub">
			опубликовано <%= _.getDateText(publishDate) %>
		</span>
	</h1>

	<div class="fb-share-button" data-href="http://yasoon.ru/%23/post/<%= id %>"></div>
        <div id="fb-root"></div>
        
        <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '744571352299805',
                xfbml      : true,
                version    : 'v2.2'
              });
            };

            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = '//connect.facebook.net/en_US/sdk.js';
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
             
             document.getElementById('vk_share_button').innerHTML = VK.Share.button(
                {
                    url : 'http://yasoon.ru/%23/post/<%= id %>',
                    title: '<%= title %>',
                    description: '<%= description %>'
                }, 
                {
                    type: 'link', 
                    text: 'Share'
                }
            );
            document.getElementById('vk_share_button_down').innerHTML = VK.Share.button(
                {
                    url : 'http://yasoon.ru/%23/post/<%= id %>',
                    title: '<%= title %>',
                    description: '<%= description %>'
                }, 
                {
                    type: 'link', 
                    text: 'Share'
                }
            );
             </script>
             <div id="vk_share_button"></div>
             
           <!-- <a onclick="Share.vkontakte('http://yasoon.ru:8090/%23/post/<%= id %>','<%= title %>','','<%= description %>')"> V Share</a> -->

        </div>
<div class="content">
    <% _.each(text, function(question) { %>
        <article questionid="<%= question.question_id %>" class="questionContent">
            <h3 class="questionTitle">
                <%= question.text %>
            </h3>
            <div class="question_content">
                <%= question.answer %>
            </div>
        </article>
	<% }); %>
</div>
<div class="q-box">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>
			вдохновились
		</span>
	</span>
        
	<span class="q-post">
		<a href="/#/speaker/<%= authorId %>/answers"><i></i></a> <%= questionCount %> вопросов этому автору
	</span>
        <div class="social-likes-post_down">
            <div class="fb-share-button" data-href="http://yasoon.ru:8090/%23/post/<%= id %>"></div>
            <div id="vk_share_button_down"></div>
        </div>
            </div>

