<div class="like-title">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>вдохновились</span>
	</span>
	<h1>
		<%= title %>
		<% if (authorId === Window.config.userId) { %>
			<a href="#/post/<%= id %>/edit" class="editable"></a>
		<% } %>
        <br/>
		<span class="media-pub">
			опубликовано <%= _.getDateText(publishDate) %>
		</span>
	</h1>
</div>
<div class="content">
    <% _.each(text, function(question) { %>
        <article questionid="<%= question.question_id %>" class="questionContent">
            <h3 class="questionTitle">
                <%= question.text %>
            </h3>
            <div class="question_content">
                <%= question.answer %>
            </div>
        </article>
	<% }); %>
</div>
<div class="q-box">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>
			вдохновились
		</span>
	</span>
	<span class="q-post">
		<a href="/#/speaker/<%= authorId %>/answers"><i></i></a> <%= questionCount %> вопросов этому автору
	</span>
</div>