<div class="like-title">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>вдохновились</span>
	</span>
	<h1>
		<%= title %>
		<% if (authorId === Window.config.userId) { %>
			<a href="#/post/<%= id %>/edit" class="editable"></a>
		<% } %>
		<span class="media-pub">
			опубликовано <%= _.getDateText(publishDate) %>
		</span>
	</h1>

	<div class="fb-share-button" data-href="http://yasoon.ru:8090/%23/post/<%= id %>"></div>
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function() {
              FB.init({
                appId      : '744571352299805',
                xfbml      : true,
                version    : 'v2.2'
              });
            };

            (function(d, s, id){
               var js, fjs = d.getElementsByTagName(s)[0];
               if (d.getElementById(id)) {return;}
               js = d.createElement(s); js.id = id;
               js.src = '//connect.facebook.net/en_US/sdk.js';
               fjs.parentNode.insertBefore(js, fjs);
             }(document, 'script', 'facebook-jssdk'));
             </script>

           <a onclick="Share.vkontakte('http://yasoon.ru:8090/%23/post/<%= id %>','<%= title %>','','<%= description %>')"> V Share</a>

</div>
<div class="content">
    <% _.each(text, function(question) { %>
        <article questionid="<%= question.question_id %>" class="questionContent">
            <h3 class="questionTitle">
                <%= question.text %>
            </h3>
            <div class="question_content">
                <%= question.answer %>
            </div>
        </article>
	<% }); %>
</div>
<div class="q-box">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
			<%= post_likes %>
		</span>
		<span>
			вдохновились
		</span>
	</span>
        
	<span class="q-post">
		<a href="/#/speaker/<%= authorId %>/answers"><i></i></a> <%= questionCount %> вопросов этому автору
	</span>
</div>

<script>
    Share = {
    vkontakte: function(purl, ptitle, pimg, text) {
        url  = 'http://vkontakte.ru/share.php?';
        url += 'url='          + encodeURIComponent(purl);
        url += '&title='       + encodeURIComponent(ptitle);
        url += '&description=' + encodeURIComponent(text);
        url += '&image='       + encodeURIComponent(pimg);
        url += '&noparse=true';
        Share.popup(url);
    },
    
    facebook: function(purl, ptitle, pimg, text) {
        url  = 'http://www.facebook.com/sharer.php?s=100';
        url += '&p[title]='     + encodeURIComponent(ptitle);
        url += '&p[summary]='   + encodeURIComponent(text);
        url += '&p[url]='       + encodeURIComponent(purl);
        url += '&p[images][0]=' + encodeURIComponent(pimg);
        Share.popup(url);
    },
            
    popup: function(url) {
        window.open(url,'','toolbar=0,status=0,width=626,height=436');
    }
};
    </script>