<div class="speaker-avatar">
	<a href="#/speaker/<%= id %>/posts">
		<% if(avatarImg === null) { %>
			<img src="/frontend/img/noAvatar.jpg" alt="" class="usr-ic" alt="<%= name %>">
		<% } else { %>
			<img src="/web/upload/avatar/<%= avatarImg %>" class="usr-ic" alt="<%= name %>">
		<% } %>
	</a>
</div>
<div class="speaker-info">
	<h4 class="p-label">
		<span>Истории <a href="#/speaker/<%= id %>/posts" class="green"><b><%= posts_count %></b></a></span>
		<span>Рейтинг <a class="green"><b><%= likes_count %></b></a></span>
	</h4>
	<h2>
		<a href="#/speaker/<%= id %>/posts">
			<%= name %>
		</a>
	</h2>
	<div class="content lic">
		<%= interviewCaption %>
	</div>
</div>
<div class="hr"></div>