<div class="like-title">
	<span class="like-this">
		<b><i></i></b>
		<span class="counter">
      <%= post_likes %>
    </span>
	<span>вдохновились</span>
	</span>
    <h2>
        <a href="#/post/<%= id %>">
            <%= title %>
            <% if (authorId === Window.config.userId) { %>
            <a href="#/post/<%= id %>/edit" class="editable"></a>
            <% } %>
        </a>
		<span class="post-date">
      <%= publishDate %>
    </span>
    </h2>
</div>
<div class="content">
    <p>
        <%= description %>
    </p>
</div>
<div class="hr"></div>