<form role="form">
    <div class="post-edit">
        <article>
            <h3 class="t-center">
                <%= _.getContent(16) %>
            </h3>
            <div class="hr"></div>
        </article>

        <div class="di form-group">
            <input type="text" class="form-control" name="title" id="title" placeholder="<%=  _.getContent(38) %>">
            <!--<p class="help-block"></p>-->
        </div>

        <div class="di panel-group" id="collapse">
            <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#collapse" href="#categories">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <%=  _.getContent(39) %>
                        </h4>
                    </div>
                </a>

                <div id="categories" class="panel-collapse collapse">
                    <!-- categories -->
                </div>
            </div>
        </div>

        <div id="questionsList" class="sortable"></div>

        <div class="di form-group">
            <textarea class="description form-control"  name="description" id="description" placeholder="<%=  _.getContent(40) %>" maxlength="<%= maxLength %>"></textarea>
            <!--<p class="help-block"></p>-->
            <span class="counter">
                <%= maxLength %>
            </span>
        </div>

        <div class="di t-center buttons_area">
            <div class="row">
                <div class="col-sm-6 text-right">
                    <button type="submit" class="btn"><%= _.getContent(45) %></button>
                </div>
                <div class="col-sm-6 text-left">
                    <button type="button" class="btn color-red js-delete">Удалить</button>
                </div>
                <div class="col-sm-6 text-left">
                    <button type="button" class="btn color-red js-cancel">Отмена</button>
                </div>
            </div>
        </div>
    </div>
</form>